---
title: Introduction
summary: A list of the topics in this documentation that apply only to our database-as-a-service; these topics do not apply to our on-premise product product.
keywords: home, welcome, dbaas, Service, paas
sidebar:  dbaas_sidebar
toc: false
product: all
permalink: dbaas_intro.html
folder: DBaaS
---
{% include splicevars.html %}
	<section>
		<div class="TopicContent">
            <h1>Welcome to the Splice Machine Database Service!</h1>
{% include splice_snippets/dbaasonlyguide.html %}
            <p>Welcome to Splice Machine, the  database platform for adaptive applications that manage operational processes. This site contains documentation for our <span class="ConsoleLink">Managed Database Service in the Cloud</span>.</p>
            <p>Splice Machine is a hybrid relational database platform that allows you to run transactional (OLTP) and analytical (OLAP)&#160;SQL workloads, concurrently, against shared data. To ensure that one does not interfere with the other, Splice Machine uses resource isolation and a ground-breaking MVCC technology for concurrent, non-locking, distributed ACID transactions. </p>
            <p>With Splice Machine, you can manage operational processes, large-scale IoT infrastructures, and use analytical processing and machine learning to improve over time.</p>
            <p>Splice Machine delivers an open-source data platform that incorporates the proven scalability of HBase™ and the in-memory performance of Apache Spark™. The cost-based optimizer uses advanced statistics to choose the best compute engine, storage engine, index access, join order and join algorithm for each task. In this way, Splice Machine can concurrently process transactional and analytical workloads at scale.</p>
            <h2>Service Overview</h2>
            <p>Our Database Service is a subscription-based service, hosted in the Cloud. This section provides brief summaries of these aspects of your service:</p>
            <ul>
                <li><a href="serviceconfig">Your Service Configuration</a></li>
                <li><a href="serviceavail">Service Availability</a></li>
                <li><a href="serviceavail">Support for Your Service</a></li>
                <li><a href="serviceterms">Service Terms</a></li>
            </ul>
            <h3 id="serviceconfig">Service Configuration</h3>
            <p>The Splice Machine Database Service is subscription-based, which means that you pay a monthly fee that is based on the configuration you've chosen. Factors that affect the cost of your service include:</p>
            <ul>
                <li>The number of Splice Units</li>
                <li>xxx</li>
            </ul>
            <h3 id="serviceavail">Service Availability</h3>
            <p>XXX></p>
            <ul>
                <li>xxx</li>
                <li>xxx</li>
            </ul>
            <h3 id="servicesupport">Support for Your Service</h3>
            <p>XXX></p>
            <ul>
                <li>xxx</li>
                <li>xxx</li>
            </ul>
            <h3 id="serviceterms">Service Terms</h3>
            <p>XXX></p>
            <ul>
                <li>Subscription fees are payable monthly in advance on the 1st of the month, pro-rated for any partial months. We'll charge your credit card or withdraw payment by ACH on the first of each month, until your service is cancelled. See your license agreement for more details.</li>
                <li>xxx</li>
            </ul>
            <h2>Database-Service Documentation</h2>
			<p>The Splice Machine Documentation is divided into three main areas, each of which contains multiple sections, as shown in the following table. The Splice Machine topics apply to all products, and the DB-Service Only topics are specific to this product.</p>
{% include splice_snippets/docssummary_table.html %}
			<h3>Using our Documentation</h3>
			<p>Please visit our <a href="notes_usingdocs.html">Documentation Summary</a> page for a quick introduction to navigating and using the components of our documentation system.</p>
        </div>
	</section>
