---
summary: Walks you through installing Splice Machine on your cluster, or on computer if you're using the standalone version.
title: Splice Machine Installation Guide
keywords: 
toc: false
product: onprem
sidebar:  onprem_sidebar
permalink: onprem_install_intro.html
folder: OnPrem
---
	<section>
		<div class="TopicContent">
            <h1 id="kanchor441">Splice Machine Installation Guide</h1>
            <div class="noteOnPremiseOnly">This guide only applies to our on-premise database product. There is no installation involved if you're using our database service.</div>
            <p>This <span class="ItalicFont">Installation Guide</span> walks you through installing Splice Machine on your cluster, or on computer if you're using the standalone version.</p>
            <p>The fastest way to get started with Splice Machine is to set up our sandbox on the Amazon Web Services (AWS) platform on EC2 instances using <span class="CodeFont">cloud.splicemachine.com</span>:</p>
            <div class="noteIcon">See the <a href="onprem_install_awssandbox.html">Installing Splice Machine on Amazon Web Services</a> topic in this chapter for step-by-step instructions for setting up the Splice Machine sandbox.</div>
            <p>If you want to download and install Splice Machine on your cluster or standalone computer, please read the remainder of this page, which includes these sections:</p>
            <ul>
                <li value="1">The Cluster Node Requirements section below details the hardware and ecosystem requirements for installing Splice Machine on a cluster or on a standalone computer.</li>
                <li value="2">The <a href="#Configur">Configure Linux for Splice&#160;Machine</a> section specifies the Linux software that Splice&#160;Machine requires.</li>
                <li value="3">The <a href="#Install">Install Splice Machine</a> links to the platform-specific installation page for each version of Splice&#160;Machine.</li>
            </ul>
            <h2>Installing the Splice Machine Sandbox on AWS</h2>
            <div class="noteIcon">The fastest way to get started with Splice Machine is to set up our sandbox on the Amazon Web Services (AWS) platform on EC2 instances using <span class="CodeFont">cloud.splicemachine.com</span>. <br /><br />See the <a href="onprem_install_awssandbox.html">Installing Splice Machine on Amazon Web Services</a> topic in this chapter for step-by-step instructions.</div>
{% include splice_snippets/v2requirements.html %}
            <h2 id="Configur">Configure Linux for Splice&#160;Machine</h2>
            <div>
                <p>The following table summarizes Linux configuration requirements for running Splice&#160;Machine on your cluster:</p>
                <table summary="Summary of Linux configuration requirements">
                    <col />
                    <col />
                    <thead>
                        <tr>
                            <th>Configuration Step</th>
                            <th>Description</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Configure SSH&#160;access:</td>
                            <td>Configure the user account that you're using for cluster administration for password-free access, to simplify installation.</td>
                        </tr>
                        <tr>
                            <td>Configure swappiness:</td>
                            <td>
                                <div class="preWrapperWide"><pre class="ShellCommandCell" xml:space="preserve">echo 'vm.swappiness = 0' &gt;&gt; /etc/sysctl.conf</pre>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>If you are using Ubuntu:</td>
                            <td>
                                <div class="preWrapperWide"><pre class="ShellCommandCell" xml:space="preserve">
rm /bin/sh ; ln -sf /bin/bash /bin/sh</pre>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>If your using CentOS or RHEL:</td>
                            <td>
                                <div class="preWrapperWide"><pre class="ShellCommandCell" xml:space="preserve">
                                    <span class="ShellCommand">sed -i '/requiretty/ s/^/#/' /etc/sudoers</span>  </pre>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>Required software:</td>
                            <td>
                                <p class="noSpaceAbove">Verify that the following set of software (or packages) is available on each node in your cluster:</p>
                                <ul>
                                    <li class="CodeFont" value="1">curl</li>
									<li class="CodeFont">
                                    <p>Oracle JDK&#160;1.8, update 60 or higher. We recommend against using JDK 1.8.0_40 or OpenJDK.</p>
                                    <div class="noteNote">Your platform management software may re-install&#160;JDK during its own installation process.</div>
                                </li>                                    <li class="CodeFont" value="3">nscd</li>
                                    <li class="CodeFont" value="4">ntp</li>
                                    <li class="CodeFont" value="5">openssh, openssh-clients<span class="bodyFont">, and</span> openssh-server</li>
                                    <li class="CodeFont" value="6">patch</li>
                                    <li class="CodeFont" value="7">rlwrap</li>
                                    <li class="CodeFont" value="8">wget</li>
                                </ul>
                            </td>
                        </tr>
                        <tr>
                            <td>Additional required software on CentOS&#160;or RHEL</td>
                            <td>
                                <div class="preWrapperWide">
                                    <p class="noSpaceAbove">If you're running on CENTOS&#160;or RHEL, you also need to have this software available on each node:</p>
                                    <ul>
                                        <li class="CodeFont" value="1">ftp</li>
                                        <li class="CodeFont" value="2">EPEL&#160;<span class="bodyFont">repository</span></li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>Services that must be started</td>
                            <td>
                                <p class="noSpaceAbove">You need to make sure that the following services are enabled and started:</p>
                                <ul>
                                    <li value="1"><span class="CodeFont">nscd</span>
                                    </li>
                                    <li value="2"><span class="CodeFont">ntpd</span> (<span class="CodeFont">ntp</span> package)</li>
                                    <li value="3"><span class="CodeFont">sshd</span> (<span class="CodeFont">openssh</span>-server package)</li>
                                </ul>
                            </td>
                        </tr>
                        <tr>
                            <td>Time zone setting</td>
                            <td><span class="Highlighted">Make sure all nodes in your cluster are set to the same time zone.</span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <h2 id="Install">Install Splice Machine</h2>
            <p>If you've decided to try our sandbox, see the <a href="onprem_install_awssandbox.html">Installing Splice Machine on Amazon Web Services</a> topic in this chapter for step-by-step instructions for setting up the Splice Machine sandbox.&#160;&#160;&#160;&#160;&#160;</p>
            <p>To install Splice Machine on your cluster or standalone computer, click the link below to see the instructions for your platform; each page walks you through downloading and installing and configuring a specific version of Splice Machine:</p>
            <table summary="Links to instructions for installing Splice Machine on each platform.">
                <col />
                <col />
                <thead>
                    <tr>
                        <th>Hadoop Platform</th>
                        <th>Installation Guide </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Cloudera-managed cluster</td>
                        <td><a href="onprem_install_cloudera.html">Installing and Configuring Splice Machine for Cloudera Manager</a>
                        </td>
                    </tr>
                    <tr>
                        <td>Hortonworks-managed cluster</td>
                        <td><a href="onprem_install_hortonworks.html">Installing and Configuring Splice Machine for Hortonworks HDP</a>
                        </td>
                    </tr>
                    <tr>
                        <td>MapR-managed&#160;cluster</td>
                        <td><a href="onprem_install_mapr.html">Installing and Configuring Splice Machine for MapR</a>
                        </td>
                    </tr>
                    <tr>
                        <td>Standalone version of Splice Machine</td>
                        <td><a href="onprem_install_standalone.html">Installing the Standalone Version of Splice&#160;Machine</a>
                        </td>
                    </tr>
                </tbody>
            </table>
{% include splice_snippets/githublink.html %}
        </div>
	</section>
