---
summary: How to download, install, and start using the standalone version of Splice Machine.
title: Installing the Standalone Version of Splice Machine.
keywords: 
toc: false
product: onprem
sidebar:  install_sidebar
permalink: onprem_install_standalone.html
folder: OnPrem
---
{% include splicevars.html %}
	<section>
		<div class="TopicContent">
            <h1 id="DeployingStandalone">Installing the Standalone Version of Splice&#160;Machine</h1>
            <p>This topic walks you through downloading, installing, and getting started with using the standalone version of Splice Machine. </p>
            <h2>About the Standalone Version</h2>
            <p>The standalone version of Splice Machine runs on a single computer, rather than on a cluster; it is intended to allow you to get your feet wet with Splice Machine. The standalone version installs quickly on your MacOS, Linux, or CentOS computer, and enables rapid access to Splice Machine's capabilities. It's an excellent way to experiment with Splice Machine with a reasonably small amount of data.</p>
            <p>Note that many of our customers also use the standalone version of Splice Machine for ongoing development work. For example, if your engineers want to create stored procedures to optimize aspects of your database, they can develop and debug those procedures on the standalone version before deploying them to your cluster.</p>
            <p>This topic walks you through getting the standalone version of Splice Machine installed on your computer. Because Splice Machine is a Java application, you’ll have to meet some prerequisites for the way your computer supports Java. You may already have created these settings for other Java applications, but just to be sure, we list them in this tutorial for each of the supported operating systems.</p>
            <p>You can <a href="#Watch">watch the video version</a> of getting Splice&#160;Machine installed on your computer, or <a href="#Follow">follow the written instructions</a>.</p>
            <div class="noteNote">Many other Big Data applications and services like <a href="https://hbase.apache.org/" target="_blank">HBase</a>, <a href="https://kafka.apache.org/" target="_blank">Kafka</a>, <a href="http://hadoop.apache.org/" target="_blank">Hadoop</a>, <a href="https://prometheus.io" target="_blank">Prometheus</a>, and <a href="https://www.digitalocean.com/community/tutorials/how-to-install-elasticsearch-logstash-and-kibana-elk-stack-on-ubuntu-14-04" target="_blank">even parts of the ELK stack</a> are also written (at least partially) in Java, and so they require these extra Java setup steps as well.</div>
{% if site.incl_notpdf %}
            <div class="videoEnvelope">
                <h2 id="Watch">Watch the Video Version</h2>
                <p>This&#160;video walks you through setting up <span class="CodeFont">$JAVA_HOME</span> on MacOS, then configuring installation prerequisites for each of the operating systems below. We'll also do a quick install and sanity check on Splice Machine.</p>
                <p><iframe class="youtube-player_0" src="https://www.youtube.com/embed/Pb25HRnPAbs?" frameborder="0" allowfullscreen="1" width="560px" height="315px"></iframe>
                </p>
            </div>
{% endif %}
            <h2 id="Follow">Follow the Written Instructions</h2>
            <p>This section includes written instructions for configuring your computer for Splice Machine and then installing our standalone version, in these steps:</p>
            <ul>
                <li value="1"><a href="#Prepare">Prepare for Installation on Your Computer</a>
                </li>
                <li value="2"><a href="#Install">Install Splice Machine</a>
                </li>
                <li value="3"><a href="#Start">Start Using Splice Machine</a>
                </li>
            </ul>
            <p>Note that we have also created a <a href="onprem_install_installdemodata.html">short tutorial that shows you how to import the demo data</a> included in our installation. We recommend that you follow the steps in this tutorial to import and then run a few test queries against the demo data to start experiencing the full power of Splice Machine.</p>
            <h3 id="Prepare">Prepare for Installation on Your Computer</h3>
            <p>This section walks you through preparing your computer for installation of Splice&#160;Machine; follow the instructions for your operating system:</p>
            <ul>
                <li value="1"><a href="#Configur">Mac OSX</a>
                </li>
                <li value="2"><a href="#Configur2">Ubuntu Linux</a>
                </li>
                <li value="3"><a href="#Configur3">CentOS/Red Hat Enterprise Linux (RHEL)</a>
                </li>
            </ul>
            <h4 id="Configur">Configure Mac OSX for Splice Machine</h4>
            <p>Follow these steps to prepare your MacOS computer to work with Splice Machine:</p>
            <div class="opsStepsList">
                <ol class="boldFont">
                    <li value="1">
                        <p class="topLevel"> If you have <a href="http://brew.sh/" target="_blank">Homebrew</a> installed</p>
                        <p class="indentLevel1">Fire up the <span class="CodeFont">Terminal</span> app and enter the following commands:</p>
                        <div class="preWrapper"><pre class="ShellCommand">$ brew update
$ brew cask install java
$ brew install rlwrap</pre>
                        </div>
                    </li>
                    <li value="2">
                        <p class="topLevel"> If you do not have <a href="http://brew.sh/" target="_blank">Homebrew</a> installed:</p>
                        <ol class="LowerAlphaPlainFont">
                            <li value="1">
                                <p>Download the Java SE Development Kit (JDK 8) from this URL:</p>
                                <div class="preWrapper"><pre class="Plain" xml:space="preserve">http://www.oracle.com/technetwork/java/javase/downloads/jdk8-downloads-2133151.html</pre>
                                </div>
                            </li>
                            <li value="2">Open the downloaded installer and compete the installation wizard to install the JDK.</li>
                            <li value="3">Download and install <span class="CodeFont">rlWrap</span>. You can find rlWrap online, along with instructions for installing it using <span class="CodeFont">brew</span> or another installation method. Some experts advise using Homebrew instead of any other method.</li>
                        </ol>
                    </li>
                    <li value="3">
                        <p class="topLevel">Check that your $JAVA_HOME environment variable is set:</p>
                        <ol class="LowerAlphaPlainFont">
                            <li value="1">
                                <p>Edit your <span class="CodeFont">~/.bash_profile</span> file with your favorite text editor; for example:</p>
                                <div class="preWrapper"><pre class="ShellCommand" xml:space="preserve">$ sudo vi ~/.bash_profile</pre>
                                </div>
                            </li>
                            <li value="2">
                                <p>Add the following <span class="CodeFont">export</span> command at the bottom of the <span class="CodeFont">.bash_profile</span> file.</p>
                                <div class="preWrapper"><pre class="Plain" xml:space="preserve">export JAVA_HOME=`/usr/libexec/java_home`</pre>
                                </div>
                            </li>
                            <li value="3">Save the file and close your editor.</li>
                            <li value="4">
                                <p>Run the following command to load the updated profile into your current session:</p>
                                <div class="preWrapper"><pre class="ShellCommand" xml:space="preserve">$ source ~/.bash_profile</pre>
                                </div>
                            </li>
                            <li value="5">
                                <p>To verify that this setting is correct, make sure that the following commands display the same value:</p>
                                <div class="preWrapper"><pre class="ShellCommand">$ echo $JAVA_HOME<br /><br />/usr/libexec/java_home</pre>
                                </div>
                            </li>
                        </ol>
                    </li>
                </ol>
            </div>
            <h4 id="Configur2">Configure Ubuntu Linux for Splice&#160;Machine</h4>
            <p>Follow these steps to prepare your Ubuntu computer to work with Splice Machine:</p>
            <div class="noteNote">		Installing on Linux can be a bit tricky, so please use the <span class="CodeFont">pwd</span> command to ensure that you are in the directory in which you need to be.</div>
            <div class="opsStepsList">
                <ol class="boldFont">
                    <li value="1">
                        <p class="topLevel">Install the Java SE&#160;Development Kit</p>
                        <p class="indentLevel1">Fire up the <span class="CodeFont">Terminal</span> app and enter the following commands:</p>
                        <div class="preWrapper"><pre class="ShellCommand">$ sudo add-apt-repository ppa:webupd8team/java<br />$ sudo apt-get update<br />$ sudo apt-get install oracle-java8-installer
$ sudo apt install oracle-java8-set-default</pre>
                        </div>
                    </li>
                    <li value="2">
                        <p class="topLevel">Set the $JAVA_HOME environment variable is set:</p>
                        <ol class="LowerAlphaPlainFont">
                            <li value="1">
                                <p>Find the location of Java on your computer by executing this command:</p>
                                <div class="preWrapper"><pre class="ShellCommand" xml:space="preserve">$ sudo update-alternatives --config java</pre>
                                </div>
                                <p>Copy the resulting path to the clipboard.</p>
                            </li>
                            <li value="2">
                                <p>Use your favorite text editor to open <span class="CodeFont">/etc/environment</span>:</p>
                                <div class="preWrapper"><pre class="ShellCommand" xml:space="preserve">sudo vi /etc/environment</pre>
                                </div>
                            </li>
                            <li value="3">
                                <p>Add the following <span class="CodeFont">export</span> command at the bottom of the <span class="CodeFont">/etc/environment</span> file.</p>
                                <div class="preWrapper"><pre class="Plain" xml:space="preserve">JAVA_HOME="/usr/lib/jvm/java-8-oracle"</pre>
                                </div>
                            </li>
                            <li value="4">
                                <p>Run the following command to load the updated profile into your current session:</p>
                                <div class="preWrapper"><pre class="ShellCommand" xml:space="preserve">source ~/etc/environment</pre>
                                </div>
                            </li>
                            <li value="5">
                                <p>Run this command to make sure the setting is correct:</p>
                                <div class="preWrapper"><pre class="ShellCommand">$ echo $JAVA_HOME<br /></pre>
                                </div>
                            </li>
                        </ol>
                    </li>
                    <li value="3">
                        <p class="topLevel">Install Additional Libraries:</p>
                        <p class="indentLevel1">You need to have the following packages installed for Splice Machine to run:</p>
                        <ul class="plainFont">
                            <li value="1">curl</li>
                            <li value="2">nscd</li>
                            <li value="3">ntp</li>
                            <li value="4">openssh</li>
                            <li value="5">openssh-clients</li>
                            <li value="6">openssh-server</li>
                            <li value="7">patch</li>
                            <li value="8">rlwrap</li>
                            <li value="9">wget</li>
                        </ul>
                        <p>You can use the <span class="CodeFont">apt-get</span> package manager to install each of these packages, using a command line like this:</p>
                        <div class="preWrapper"><pre class="ShellCommand">$ sudo apt-get install &lt;packagename&gt;<br /></pre>
                        </div>
                    </li>
                    <li value="4">
                        <p class="topLevel">Configure Additional Parameters:</p>
                        <p class="indentLevel1">You need to complete these steps:</p>
                        <table>
                            <col />
                            <col />
                            <tbody>
                                <tr>
                                    <td>Create symbolic link for YARN</td>
                                    <td class="CodeFont">sudo ln -s /usr/bin/java /bin/java</td>
                                </tr>
                                <tr>
                                    <td>Configure swappiness</td>
                                    <td class="CodeFont">$ echo 'vm.swappiness = 0' &gt;&gt; /etc/sysctl.conf</td>
                                </tr>
                                <tr>
                                    <td>Create an alias</td>
                                    <td class="CodeFont">$ rm /bin/sh ; ln -sf /bin/bash /bin/sh</td>
                                </tr>
                            </tbody>
                        </table>
                    </li>
                    <li value="5">
                        <p class="topLevel">Ensure all necessary services are started:</p>
                        <p>You can start all necessary services as follows:</p>
                        <div class="preWrapperWide"><pre class="ShellCommand">$ sudo service nscd start  &amp;&amp; service ntp start  &amp;&amp; service ssh start</pre>
                        </div>
                        <p>Finally, you can check that the services are running with the following command:</p>
                        <div class="preWrapperWide"><pre class="ShellCommand">$ service&#160;&lt;service_name&gt;&#160;status</pre>
                        </div>
                    </li>
                </ol>
            </div>
            <h4 id="Configur3">Configure CentOS/Red Hat Enterprise Linux (RHEL) for Splice&#160;Machine</h4>
            <p>Follow these steps to prepare your RHEL&#160;computer to work with Splice Machine:</p>
            <div class="noteNote">		Installing on Linux can be a bit tricky, so please use the <span class="CodeFont">pwd</span> command to ensure that you are in the directory in which you need to be.</div>
            <div class="opsStepsList">
                <ol class="boldFont">
                    <li value="1">
                        <p class="topLevel">Install the Java SE&#160;Development Kit</p>
                        <p class="indentLevel1">Fire up the <span class="CodeFont">Terminal</span> app and enter the following commands:</p>
                        <p>To install JDK 8, run one of the following sets of commands:</p>
                        <div class="preWrapperWide"><pre class="ShellCommand">$ cd /opt/<br />$ wget --no-cookies --no-check-certificate --header "Cookie: gpw_e24=http%3A%2F%2Fwww.oracle.com%2F; oraclelicense=accept-securebackup-cookie" "http://download.oracle.com/otn-pub/java/jdk/8u121-b13/e9e7ea248e2c4826b92b3f075a80e441/jdk-8u121-linux-x64.tar.gz"<br />$ tar xzf jdk-8u121-linux-i586.tar.gz</pre>
                        </div>
                        <p>or:</p>
                        <div class="preWrapperWide"><pre class="ShellCommand">$ wget http://download.oracle.com/otn-pub/java/jdk/8u121-b13/e9e7ea248e2c4826b92b3f075a80e441/jdk-8u121-linux-x64.rpm<br />$ sudo yum localinstall jdk-8u121-linux-x64.rpm</pre>
                        </div>
                        <p>or:</p>
                        <div class="preWrapperWide"><pre class="ShellCommand">$ sudo rpm -ivh jdk-8u121-linux-x64.rpm</pre>
                        </div>
                    </li>
                    <li value="2">
                        <p class="topLevel">Set up sudo rights</p>
                        <p>Your User ID&#160;must be in the <span class="CodeFont">sudoers</span> file. To do so, please see the following web page:</p>
                        <div class="preWrapperWide"><pre class="Plain"><a href="https://www.digitalocean.com/community/tutorials/how-to-edit-the-sudoers-file-on-ubuntu-and-centos" target="_blank">https://www.digitalocean.com/community/tutorials/how-to-edit-the-sudoers-file-on-ubuntu-and-centos</a></pre>
                        </div>
                    </li>
                    <li value="3">
                        <p class="topLevel">Set the $JAVA_HOME environment variable is set:</p>
                        <ol class="LowerAlphaPlainFont">
                            <li value="1">
                                <p>Find the path to the java installation on your computer:</p>
                                <div class="preWrapper"><pre class="ShellCommand" xml:space="preserve">$ find / -name java</pre>
                                </div>
                            </li>
                            <li value="2">
                                <p>Configure your <span class="CodeFont">$JAVA_HOME</span> environment variable to the path you found in the previous step, as follows:</p>
                                <div class="preWrapper"><pre class="ShellCommand" xml:space="preserve">$ echo export JAVA_HOME=/opt/jdk1.8.0_121 &gt;/etc/profile.d/javaenv.sh</pre>
                                </div>
                            </li>
                            <li value="3">
                                <p>Make sure your <span class="CodeFont">$JRE_HOME</span> variable is set up:</p>
                                <div class="preWrapper"><pre class="ShellCommand" xml:space="preserve">$ echo export JRE_HOME=/opt/jdk1.8.0_121/jre &gt;/etc/profile.d/javaenv.sh</pre>
                                </div>
                            </li>
                            <li value="4">
                                <p>Set up your <span class="CodeFont">$PATH</span> variable for your JVM:</p>
                                <div class="preWrapperWide"><pre class="ShellCommand" xml:space="preserve">$ echo export PATH=$PATH:/opt/jdk1.8.0_121/bin:/opt/jdk1.8.0_121/jre/bin &gt;/etc/profile.d/javaenv.sh</pre>
                                </div>
                            </li>
                            <li value="5">
                                <p>Confirm the variables are set with the echo command (you may need to reload your terminal first):</p>
                                <div class="preWrapper"><pre class="ShellCommand">$ echo $JAVA_HOME<br /></pre>
                                </div>
                            </li>
                        </ol>
                    </li>
                    <li value="4">
                        <p class="topLevel">Install Additional Libraries:</p>
                        <p class="indentLevel1">You need to have the following packages installed for Splice Machine to run:</p>
                        <p>curl, nscd, ntp, openssh, openssh-clients, openssh-server, patch, rlwrap, wget, ftp, nc, EPEL repository</p>
                        <ul class="plainFont">
                            <li value="1">curl</li>
                            <li value="2">EPEL&#160;repository</li>
                            <li value="3">ftp</li>
                            <li value="4">nc</li>
                            <li value="5">nscd</li>
                            <li value="6">ntp</li>
                            <li value="7">openssh</li>
                            <li value="8">openssh-clients</li>
                            <li value="9">openssh-server</li>
                            <li value="10">patch</li>
                            <li value="11">rlwrap</li>
                            <li value="12">wget</li>
                        </ul>
                        <p>You can install these libraries as follows:</p>
                        <ol class="LowerAlphaPlainFont">
                            <li value="1">
                                <p>To update CentOS:</p>
                                <div class="preWrapper"><pre class="ShellCommand" xml:space="preserve">$ yum update</pre>
                                </div>
                            </li>
                            <li value="2">
                                <p>To install a binary:</p>
                                <div class="preWrapper"><pre class="ShellCommand" xml:space="preserve">$ yum install &lt;packagename&gt;</pre>
                                </div>
                            </li>
                            <li value="3">
                                <p>To install EPEL&#160;repository:</p>
                                <div class="preWrapper"><pre class="ShellCommand" xml:space="preserve">$ yum -y install epel-release</pre>
                                </div>
                            </li>
                            <li value="4">
                                <p>To test if a package is installed:</p>
                                <div class="preWrapperWide"><pre class="ShellCommand" xml:space="preserve">$ yum info &lt;packagename&gt;</pre>
                                </div>
                            </li>
                        </ol>
                    </li>
                    <li value="5">
                        <p class="topLevel">Configure Additional Parameters:</p>
                        <p class="indentLevel1">Execute this command:</p>
                        <div class="preWrapperWide"><pre class="ShellCommand">$ sed -i '/requiretty/ s/^/#/' /etc/sudoers</pre>
                        </div>
                    </li>
                    <li value="6">
                        <p class="topLevel">Ensure all necessary services are started:</p>
                        <p>You can start all necessary services as follows:</p>
                        <div class="preWrapperWide"><pre class="ShellCommand">$ /sbin/service ncsd start  &amp;&amp; /sbin/service ntpd start  &amp;&amp; /sbin/service sshd start</pre>
                        </div>
                        <p>Finally, you can check that the services are running with the following command:</p>
                        <div class="preWrapperWide"><pre class="ShellCommand">$ chkconfig --list</pre>
                        </div>
                    </li>
                </ol>
            </div>
            <h3 id="Install">Install Splice Machine</h3>
            <p>Now that you've got your system configured for Splice&#160;Machine, let's download and install the standalone version of Splice&#160;Machine, and start using it!</p>
            <div class="opsStepsList">
                <ol class="boldFont">
                    <li value="1">
                        <p class="topLevel">Download the Splice&#160;Machine installer.</p>
                        <p class="indentLevel1">Visit this page:&#160;<span class="CodeFont"><a href="https://www.splicemachine.com/get-started/download/" target="_blank">https://www.splicemachine.com/get-started/download/</a></span>.</p>
                    </li>
                    <li value="2">
                        <p class="topLevel">Copy the downloaded tarball (.gz file)&#160;to the directory on your computer in which you want to install Splice&#160;Machine</p>
                        <p class="indentLevel1">You should only install in a directory whose name does not contain spaces, because some scripts will not operate correctly if the working directory has spaces in its name.</p>
                    </li>
                    <li value="3">
                        <p class="topLevel">Install Splice&#160;Machine:</p>
                        <p class="indentLevel1">Unpack the tarball <span class="CodeFont">gz</span> file that you downloaded:</p>
                        <div class="preWrapperWide"><pre class="ShellCommand" xml:space="preserve">tar -xzf {{splvar_platform_StandaloneInstallerTarball}}</pre>
                        </div>
                        <p class="indentLevel1">This creates a <span class="CodeFont">splicemachine</span> subdirectory and installs Splice&#160;Machine software in it.</p>
                    </li>
                </ol>
            </div>
            <h3 id="Start">Start Using Splice Machine</h3>
            <p>Start Splice Machine on your computer and run a few commands to verify the installation:</p>
            <div class="opsStepsList">
                <ol class="boldFont">
                    <li value="1">
                        <p class="topLevel">Make your install directory the current directory</p>
                        <div class="preWrapper"><pre class="ShellCommand">cd splicemachine</pre>
                        </div>
                    </li>
                    <li value="2">
                        <p class="topLevel">Run the Splice Machine start-up script</p>
                        <div class="preWrapper"><pre class="ShellCommand" xml:space="preserve">{{splvar_platform_StandaloneStartScript}}</pre>
                        </div>
                        <p class="indentLevel1">Initialization of the database may take a couple minutes. It is ready for use when you see this message:</p>
                        <div class="preWrapper"><pre class="ShellCommand" xml:space="preserve">Splice Server is ready</pre>
                        </div>
                    </li>
                    <li value="3">
                        <p class="topLevel">Start using the Splice Machine command line interpreter by launching the <span class="CodeFont">sqlshell.sh</span> script:</p>
                        <div class="preWrapper"><pre class="ShellCommand" xml:space="preserve">
./bin/sqlshell.sh</pre>
                        </div>
                        <p>Once you have launched the command line interpreter (the <span class="AppCommand">splice&gt;</span>&#160;prompt), we recommend verifying that all is well by running a few sample commands. First:</p>
                        <div class="preWrapper"><pre class="AppCommand" xml:space="preserve">splice&gt;&#160;show tables;</pre>
                        </div>
                        <p>You'll see the names of the tables that are already defined in the Splice Machine database; namely, the system tables. Once that works, you know Splice Machine is alive and well on your computer, and you can use help to list the available commands:</p>
                        <div class="preWrapper"><pre class="AppCommand" xml:space="preserve">splice&gt;&#160;help;</pre>
                        </div>
                        <p>When you're ready to exit Splice&#160;Machine:</p>
                        <div class="preWrapper"><pre class="AppCommand" xml:space="preserve">splice&gt;&#160;exit;</pre>
                        </div>
                        <div class="indented">
                            <div class="noteNote"><span class="BoldFont">Make sure you end each command with a semicolon</span> (<span class="CodeFont">;</span>), followed by the <span class="ItalicFont">Enter</span> key or <span class="ItalicFont">Return</span> key.</div>
                        </div>
                    </li>
                </ol>
            </div>
            <h2>Finally…</h2>
            <p>

		We do hope you found these instructions helpful, whatever your Java service happens to be.

		Now that you are ready to start working with Splice Machine, you’ll find great content here:
		</p>
            <ul>
                <li value="1">Note that we have also created a <a href="onprem_install_installdemodata.html">short tutorial that shows you how to import the demo data</a> included in our installation. We recommend that you follow the steps in this tutorial to import and then run a few test queries against the demo data to start experiencing the full power of Splice Machine.</li>
                <li value="2">Documentation - Start Here: <a href="index.html"</a></li>
                <li value="3">Tutorials - Getting Started: <a href="http://community.splicemachine.com/category/tutorials/getting-started-with-splice/">http://community.splicemachine.com/category/tutorials/getting-started-with-splice/</a></li>
            </ul>
            <p>

		We welcome any of your questions or comments on our <a href="http://community.splicemachine.com/community/forum/">forum</a> or <a href="http://community.splicemachine.com/slack-channel-signup/">slack</a> channel within the Splice Machine <a href="http://community.splicemachine.com">community</a>. If you have more questions or would like to see a demo of our system, reach out to us at <a href="mailto:info@splicemachine.com">info@splicemachine.com</a> or by filling out this <a href="https://www.splicemachine.com/company/contact-us/">form</a>. </p>
        </div>
	</section>
