---
title: Splice Machine Developer Fundamentals
summary: Describes the fundamental developer-oriented features in Splice Machine
keywords: fundamentals, developers
toc: false
product: all
sidebar: developers_sidebar
permalink: developers_fundamentals_intro.html
folder: Developers/Fundamentals
---
	<section>
		<div class="TopicContent">
            <h1 id="kanchor131">Splice Machine Fundamentals</h1>
            <p>This section contains the following fundamental topics for Splice Machine developers:</p>
            <table summary="Table of descriptions of and links to the topics in this chapter">
                <col />
                <col />
                <thead>
                    <tr>
                        <th>Topic</th>
                        <th>Describes</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><a href="tutorials_ingest_importing.html">Importing Data</a>
                        </td>
                        <td>How to import data into your Splice Machine database, using built-in procedures </td>
                    </tr>
                    <tr>
                        <td><a href="developers_fundamentals_transactions.html">Running Transactions</a>
                        </td>
                        <td>Introduces you to the basics of running transactions with Splice Machine.</td>
                    </tr>
                    <tr>
                        <td><a href="developers_fundamentals_dates.html">Working with Dates</a>
                        </td>
                        <td>Provides an overview of working with date and time values in Splice&#160;Machine.</td>
                    </tr>
                    <tr>
                        <td><a href="developers_fundamentals_triggers.html">Using Database Triggers</a>
                        </td>
                        <td>Describes database triggers and how you can use them with Splice Machine.</td>
                    </tr>
                    <tr>
                        <td><a href="developers_fundamentals_foreignkeys.html">Using Foreign Keys</a>
                        </td>
                        <td>Describes our implementation of foreign keys and how our implementation ensures referential integrity.</td>
                    </tr>
                    <tr>
                        <td><a href="developers_fundamentals_windowfcns.html">Using Window Functions</a>
                        </td>
                        <td>A quick summary of window functions, as implemented in Splice Machine SQL.</td>
                    </tr>
                    <tr>
                        <td><a href="developers_fundamentals_temptables.html">Using Temporary Tables</a>
                        </td>
                        <td>Describes how to use temporary tables with Splice Machine.</td>
                    </tr>
                    <tr>
                        <td><a href="developers_fundamentals_auth.html">Roles and Authorization</a>
                        </td>
                        <td>Describes how Splice Machine authorizes which operations can be performed by which users.</td>
                    </tr>
                    <tr>
                        <td><a href="developers_fundamentals_sparklibs.html">Using Spark&#160;Libraries</a>
                        </td>
                        <td>Describes how to interface with Spark libraries in Splice&#160;Machine.</td>
                    </tr>
{% if site.incl_onlydev %}
                    <tr>
                        <td><a href="developers_fundamentals_plsql.html">Splice*Plus: PL/SQL for Splice Machine</a>
                        </td>
                        <td>Allows you to use an SQL interface with data that is external to your database.</td>
                    </tr>
{% endif %}
                    <tr>
                        <td><a href="developers_fundamentals_vti.html">Using the VTI&#160;Interface</a>
                        </td>
                        <td>Allows you to use an SQL interface with data that is external to your database.</td>
                    </tr>
                    <tr>
                        <td><a href="developers_fundamentals_externaltables.html">Using External Tables</a>
                        </td>
                        <td>Describes the use of external tables (which are stored as flat files outside of your database) with Splice Machine.</td>
                    </tr>
{% if site.incl_notdbaas %}
                    <tr>
                        <td><a href="developers_fundamentals_hcatalog.html">Using HCatalog</a>
                        </td>
                        <td>
                            <p>How to use Splice Machine with HCatalog. </p>
{% include splice_snippets/onpremonlytopic.html %}
                        </td>
                    </tr>
                    <tr>
                        <td><a href="developers_fundamentals_mapreduce.html">Using MapReduce</a>
                        </td>
                        <td>
                            <p>The Splice Machine MapReduce API provides a simple programmatic interface for using MapReduce with HBase and taking advantage of the transactional capabilities that Splice Machine provides.</p>
{% include splice_snippets/onpremonlytopic.html %}
                        </td>
                    </tr>
                    <tr>
                        <td><a href="developers_fundamentals_hbase.html">Working with HBase</a>
                        </td>
                        <td>
                            <p>Working in HBase with Splice Machine.</p>
{% include splice_snippets/onpremonlytopic.html %}
                        </td>
                    </tr>
{% endif %}
                </tbody>
            </table>
        </div>
	</section>
