{% assign navTable = "" | split: ',' %}
{% assign id = 0 %}
{% for entry in site.data.sidebars["home_sidebar"].entries %}
    {% for folder in entry.folders %}
        {% assign nextItemType = 'itemFirst' %}
        {% if folder.url %}
            {% assign uplinkId = id %}
        {% else %}
            {% assign uplinkId = 0 %}
        {% endif %}
        {% for folderitem in folder.folderitems %}
            {% if folderitem.url %}
                {% assign tblEntry =
                     id | append: ','
                        | append: nextItemType | append: ','
                        | append: folderitem.title | append: ','
                        | append: folderitem.url | remove: '/' | append: ','
                        | append: 0 | append: ','
                        | append: 0 | append: ','
                        | append: uplinkId
                %}
                {% assign navTable = navTable | push: tblEntry %}
                {% assign nextItemType = 'item' %}
                {% assign id = id | plus: 1 %}
            {% endif %}
            {% for subfolder in folderitem.subfolders %}
                {% if subfolder.url %}
                    {% assign uplinkId = id %}
                {% endif %}
                {% assign nextSubitemType = 'subitemFirst' %}
                {% for subfolderitem in subfolder.subfolderitems %}
                    {% if subfolderitem.url %}
                        {% assign tblEntry =
                             id | append: ','
                                | append: nextSubitemType | append: ','
                                | append: subfolderitem.title | append: ','
                                | append: subfolderitem.url | remove: '/' | append: ','
                                | append: 0 | append: ','
                                | append: 0 | append: ','
                                | append: uplinkId
                        %}
                        {% assign navTable = navTable | push: tblEntry %}
                        {% assign nextSubitemType = 'subitem' %}
                        {% assign id = id | plus: 1 %}
                    {% endif %}
                {% endfor %}
            {% endfor %}
        {% endfor %}
    {% endfor %}
{% endfor %}
{% capture yamlout %}
<pre>
pagenextprev_nav: Splice Next and Prev Page Navigation
pagenavs:
{%- assign cnt = 0 -%}
{%- assign lastNavId = navTable | size | minus: 1 -%}
{%- assign lastFolderOrSubfolderId = 0 -%}
{%- for tblItem in navTable -%}
    {%- assign navInfo = tblItem | split: ',' -%}
    {%- assign itemType = navInfo[1] -%}
    {%- assign navId = navInfo[0] -%}
    {%- assign prevId = navId | minus: 1 -%}
    {%- if prevId < 0 -%}
        {%- assign prevId = 0 -%}
    {%- endif -%}
    {%- assign nextId       = navId | plus: 1 -%}
    {%- assign prevUplinkId = nil -%}
    {%- assign nextUplinkId = nil -%}
    {%- assign uplinkId     = navInfo[6] -%}
    {%- assign nextNavInfo  = navTable[nextId] | split: ',' -%}
    {%- assign nextNavType  = nextNavInfo[1] -%}
    {%- if itemType == 'item' and nextItemType == 'subitemFirst' -%}
        {%- assign prevUplinkId = uplinkId -%}
        {%- assign nextUplinkId = nil -%}
    {%- elsif itemType == 'itemFirst'  or itemType == 'subitemFirst' -%}
        {%- assign prevUplink = uplinkId -%}
        {% assign lastFolderOrSubfolderId = navId %}
    {%- elsif nextNavType == 'itemFirst' -%}
        {%- assign nextUplinkId = uplinkId -%}
    {%- endif -%}
    {%- if nextId > lastNavId -%}
        {%- assign nextUplinkId = lastFolderOrSubfolderId -%}
    {%- endif -%}
<br />
- id:     {{ navId }}
  type:   {{ navInfo[1] }}
  title:  "{{ navInfo[2] }}"
  url:    {{ navInfo[3] }}
  nextId: {{ nextId }}
  prevId: {{ prevId }}
  prevUplinkId: {{ prevUplinkId }}
  nextUplinkId: {{ nextUplinkId }}
{%- endfor -%}
</pre>
{%- endcapture -%}
{{ yamlout }}
