{% assign id = 0 %}
{% assign navTable = "" | split: ',' %}
{% for entry in site.data.sidebars["home_sidebar"].entries %}
    {% for folder in entry.folders %}
        {% assign nextItemType = 'itemFirst' %}
        {% if folder.url %}
            {% assign uplinkId = id %}
        {% else %}
            {% assign uplinkId = 0 %}
        {% endif %}
        {% for folderitem in folder.folderitems %}
            {% if folderitem.url %}
                {% assign tblEntry =
                     id | append: ','
                        | append: nextItemType | append: ','
                        | append: folderitem.title | append: ','
                        | append: folderitem.url | remove: '/' | append: ','
                        | append: 0 | append: ','
                        | append: 0 | append: ','
                        | append: uplinkId
                %}
                {% assign navTable = navTable | push: tblEntry %}
                {% assign nextItemType = 'item' %}
                {% assign id = id | plus: 1 %}
                {% for subfolder in folderitem.subfolders %}
                    {% if subfolder.url %}
                        {% assign uplinkId = id %}
                    {% endif %}
                    {% assign nextSubitemType = 'subitemFirst' %}
                    {% for subfolderitem in subfolder.subfolderitems %}
                        {% if subfolderitem.url %}
                            {% assign tblEntry =
                                 id | append: ','
                                    | append: nextSubitemType | append: ','
                                    | append: subfolderitem.title | append: ','
                                    | append: subfolderitem.url | remove: '/' | append: ','
                                    | append: 0 | append: ','
                                    | append: 0 | append: ','
                                    | append: uplinkId
                            %}
                            {% assign navTable = navTable | push: tblEntry %}
                            {% assign nextSubitemType = 'subitem' %}
                            {% assign id = id | plus: 1 %}
                        {% endif %}
                    {% endfor %}
                {% endfor %}
            {% endif %}
        {% endfor %}
    {% endfor %}
{% endfor %}
{% capture yamlout %}
<pre>
pagenextprev_nav: Splice Next and Prev Page Navigation
pagenavs:
{% for tblItem in navTable %}
    {% assign navInfo = tblItem | split: ',' %}
    {% assign navId = navInfo[0] %}
    {% assign prevId = navId | minus: 1 %}
    {% if prevId < 0 %}
        {% assign prevId = 0 %}
    {% endif %}
    {% assign nextId   = navId | plus: 1 %}
    {% assign prevUplinkId = nil %}
    {% assign nextUplinkId = nil %}
    {% assign uplinkId = navInfo[6] %}
    {% if navInfo[1] == 'itemFirst' or navInfo[1] == 'subitemFirst' %}
        {% assign prevUplinkId = uplinkId %}
    {% else %}
        {% assign nextNavInfo = navTable[nextId] | split: ',' %}
        {% if nextNavInfo[1] == 'itemFirst' or nextNavInfo[1] == 'subitemFirst' %}
            {% assign nextUplinkId = uplinkId %}
        {% endif %}
    {% endif %}
- id:     {{ navId }}
  type:   {{ navInfo[1] }}
  title:  "{{ navInfo[2] }}"
  url:    {{ navInfo[3] }}
  nextId: {{ nextId }}
  prevId: {{ prevId }}
  prevUplinkId: {{ prevUplinkId }}
  nextUplinkId: {{ nextUplinkId }}
{% endfor %}
</pre>
{% endcapture %}
{{ yamlout }}
