{% comment %}   ---------------------------------------------------------------------
                -------------------------- BASIC VARIABLES --------------------------
                ---------------------------------------------------------------------
{% endcomment %}

{% assign splvar_basic_InternalReleaseVersion = '2.8.0' %}
{% assign splvar_basic_SpliceOpenSourceGit = 'https://github.com/splicemachine/spliceengine' %}

{% assign splvar_dbaas_AWSDBVersion   = '2.7.0.1849' %}
{% assign splvar_dbaas_AzureDBVersion = '2.7.0.1849' %}


{% comment %}   ---------------------------------------------------------------------
                ------------------------ PLATFORM VARIABLES -------------------------
                ---------------------------------------------------------------------
{% endcomment %}

{% if site.build_version == "2.8" %}
    {% assign splvar_requirements_CDH-Versions = 'CDH 5.16.1, CDH 5.14.2, CDH 5.14.0, CDH 5.13.3, CDH 5.13.2, CDH 5.12.0' %}
{% elsif site.build_version == "2.7" %}
    {% assign splvar_requirements_CDH-Versions = 'CDH 5.16.1, CDH 5.14.2, CDH 5.14.0, CDH 5.13.3, CDH 5.13.2, CDH 5.12.0' %}
{% else %}
    {% assign splvar_requirements_CDH-Versions = 'CDH 5.14.2, CDH 5.14.0, CDH 5.13.3, CDH 5.13.2, CDH 5.12.0' %}
{% endif %}
{% assign splvar_requirements_CDH-Hadoop = '2.6.0' %}
{% assign splvar_requirements_CDH-HBase = '1.2.0' %}
{% assign splvar_requirements_CDH-OS = 'CentOS/RHEL 6' %}
{% assign splvar_requirements_CDH-ZooKeeper = '3.4.5' %}

{% if site.build_version == "2.8" %}
    {% assign splvar_requirements_HDP-Versions  = 'HDP 2.6.4, HDP 2.6.3, HDP 2.6.1' %}
{% elsif site.build_version == "2.7" %}
    {% assign splvar_requirements_HDP-Versions  = 'HDP 2.6.4, HDP 2.6.3, HDP 2.6.1' %}
{% else %}
    {% assign splvar_requirements_HDP-Versions  = 'HDP 2.6.4, HDP 2.6.3, HDP 2.6.1, HDP 2.5.5' %}
{% endif %}
{% assign splvar_requirements_HDP-Hadoop = '2.7.1' %}
{% assign splvar_requirements_HDP-HBase = '1.1.2' %}
{% assign splvar_requirements_HDP-OS = 'CentOS/RHEL 6' %}
{% assign splvar_requirements_HDP-ZooKeeper = '3.4.5' %}

{% assign splvar_requirements_MapR-Versions = 'MapR 5.2.0' %}
{% assign splvar_requirements_MapR-Hadoop = '2.7.0' %}
{% assign splvar_requirements_MapR-HBase = '1.1.1' %}
{% assign splvar_requirements_MapR-OS = 'CentOS/RHEL 6' %}
{% assign splvar_requirements_MapR-ZooKeeper = '3.4.5' %}


{% comment %}   ---------------------------------------------------------------------
                -------------------- DATABASE LIMITS VARIABLES ----------------------
                ---------------------------------------------------------------------
{% endcomment %}

{% assign splvar_limit_MaxColumnsInTable = '100000' %}
{% assign splvar_limit_MaxColumnsInView = '5000' %}
{% assign splvar_limit_MaxIndexesOnTable = '32767' %}
{% assign splvar_limit_MaxTriggerRecursion = '16' %}
{% assign splvar_limit_MaxParamsInStoredProc = '90' %}
{% assign splvar_limit_MaxElementsSelect = '131072' %}
{% assign splvar_limit_MaxElementsGroupBy = '32677' %}
{% assign splvar_limit_MaxElementsOrderBy = '1012' %}



{% comment %}   ---------------------------------------------------------------------
                -----------------   PLATFORM VERSION VARIABLES    -------------------
                ---------------------------------------------------------------------
{% endcomment %}

{% assign splvar_location_HDPAuthSettings = 'Select the Custom HBase Configs option from the HBase configuration tab.' %}
{% assign splvar_location_CDHAuthSettings = 'hbase-site.xml' %}
{% assign splvar_location_MapRAuthSettings = 'hbase-site.xml' %}



{% comment %}   ---------------------------------------------------------------------
                ----------------   STANDALONE VERSION VARIABLES    ------------------
                ---------------------------------------------------------------------
{% endcomment %}

{% assign splvar_location_StandaloneLink = 'https://www.splicemachine.com/get-started/download/' %}
{% assign splvar_gz_Standalone_v270      = 'https://s3.amazonaws.com/splice-releases/2.7.0.1815/standalone/SPLICEMACHINE-2.7.0.1815.standalone.tar.gz' %}
{% assign splvar_gz_Standalone_v250      = 'https://s3.amazonaws.com/splice-releases/2.5.0.1815/standalone/SPLICEMACHINE-2.5.0.1815.standalone.tar.gz' %}
{% assign splvar_location_StandaloneAuthSettings = 'splicemachine/lib/splice-site.xml' %}
{% assign splvar_location_StandaloneStartScript = './bin/start-splice.sh' %}
{% assign splvar_location_StandaloneStopScript = './bin/stop-splice.sh' %}
{% assign splvar_location_StandaloneCleanScript = './bin/clean.sh' %}



{% comment %}   ---------------------------------------------------------------------
                ----------------- DBAAS PRODUCT-SPECIFIC VARIABLES ------------------
                ---------------------------------------------------------------------
{% endcomment %}

{% assign splvar_cloud_CloudDocReleaseDate = 'April, 2018'  %}
{% assign splvar_cloud_CloudProductName = 'Splice Machine Database-as-Service' %}
{% assign splvar_cloud_Copyright = '© 2019, Splice Machine, Inc.' %}
{% assign splvar_cloud_CloudPreviousVersion = '0.5' %}
{% assign splvar_cloud_CloudReleaseVersion = '1.0' %}
{% assign splvar_cloud_ContactUsLink = 'https://www.splicemachine.com/company/contact-us/' %}
{% assign splvar_cloud_CloudReleaseDate = 'April, 2018' %}



{% comment %}   --------------------------------------------------------------
                -----------------   JDBC & ODBC VARIABLES   ------------------
                --------------------------------------------------------------
{% endcomment %}
{% assign splvar_jdbc_jarloc = 'splicemachine/jdbc-driver/' %}
{% assign splvar_jdbc_dllink = 'https://www.splicemachine.com/get-started/jdbc-driver-download/' %}
{% assign splvar_odbc_dllink = 'https://www.splicemachine.com/get-started/odbc-driver-download/' %}



{% comment %}   ---------------------------------------------------------------------
                ---------------- LOCATION (EXTERNAL URL) VARIABLES ------------------
                ---------------------------------------------------------------------
{% endcomment %}

{% assign splvar_location_GetStartedLink = 'https://www.splicemachine.com/get-started/' %}
{% assign splvar_location_CommunityLink  = 'https://www.splicemachine.com/get-started/cluster-download/' %}
{% assign splvar_location_DBaaSStartLink = 'https://www.splicemachine.com/get-started/' %}
{% assign splvar_location_OnPremStartLink= 'https://www.splicemachine.com/product/how-it-works/'}
{% assign splvar_location_EnterpriseInfoLink = 'https://www.splicemachine.com/product/pricing/' %}
{% assign splvar_location_SpliceMgmtConsoleUrl = 'http://localhost:4040' %}



{% comment %}   -----------------------------------------------------------
                ---------------- MISCELLANEOUS VARIABLES ------------------
                -----------------------------------------------------------
{% endcomment %}

{% assign splvar_storedprocs_JythonVersion = 'Jython 2.5.3' %}
{% assign splvar_storedprocs_PythonVersion = 'Python version 2.5' %}
{% assign splvar_storedprocs_PythonDbApiVersion = 'Python DB API 2.0' %}
{% assign splvar_storedprocs_PythonJDBC = 'zxJDBC' %}
{% assign splvar_storedprocs_PythonJDBCDocs = 'http://www.jython.org/archive/21/docs/zxjdbc.html' %}
