{% comment %}   ---------------------------------------------------------------------
                -------------------------- BASIC VARIABLES --------------------------
                ---------------------------------------------------------------------
{% endcomment %}
{% assign splvar_basic_CustDocReleaseDate = 'March, 2018' %}
{% assign splvar_basic_SpliceReleaseVersion = '2.7' %}
{% assign splvar_basic_SplicePrevReleaseVersion = '2.5' %}
{% assign splvar_basic_InternalReleaseVersion = '2.7.0' %}
{% assign splvar_basic_InternalDocReleaseDate = 'March, 2018' %}
{% assign splvar_basic_Copyright = '© 2018, Splice Machine, Inc.' %}
{% assign splvar_basic_CommunitySupportLink = 'https://community.splicemachine.com/' %}
{% assign splvar_basic_ContactUsLink = 'https://www.splicemachine.com/company/contact-us/' %}
{% assign splvar_basic_SpliceReleaseDate = 'March, 2018' %}
{% assign splvar_basic_SpliceOpenSourceGit = 'https://github.com/splicemachine/spliceengine' %}
{% assign splvar_basic_CommunitySamplesRepo = 'https://github.com/splicemachine/splice-community-sample-code' %}
{% assign splvar_basic_SpliceDBaaSHome = 'https://cloud.splicemachine.com' %}
{% comment %}   ---------------------------------------------------------------------
                ----------------- DBAAS PRODUCT-SPECIFIC VARIABLES ------------------
                ---------------------------------------------------------------------
{% endcomment %}
{% assign splvar_cloud_CloudDocReleaseDate = 'February, 2018'  %}
{% assign splvar_cloud_CloudProductName = 'Splice Machine Database-as-Service' %}
{% assign splvar_cloud_Copyright = '© 2018, Splice Machine, Inc.' %}
{% assign splvar_cloud_CloudPreviousVersion = '0.5' %}
{% assign splvar_cloud_CloudReleaseVersion = '1.0' %}
{% assign splvar_cloud_ContactUsLink = 'https://www.splicemachine.com/company/contact-us/' %}
{% assign splvar_cloud_CloudReleaseDate = 'February, 2018' %}
{% comment %}   ---------------------------------------------------------------------
                ---------------------- INSTALLER VARIABLES --------------------------
                ---------------------------------------------------------------------
{% endcomment %}
{% assign splvar_install_CDH5120 = '5.12.0' %}
{% assign splvar_install_CDH583  = '5.8.3' %}
{% assign splvar_install_HDP255  = '2.5.5' %}
{% assign splvar_install_HDP250  = '2.5.0' %}
{% assign splvar_install_HDP242  = '2.4.3' %}
{% assign splvar_install_MAPR520 = '5.2.0' %}
{% assign splvar_install_MAPR510 = '5.1.0' %}
{% assign splvar_install_v270_CDH5120-EL6     = 'https://s3.amazonaws.com/splice-releases/2.6.1.1745/cluster/parcel/cdh5.12.0/SPLICEMACHINE-2.6.1.1745.cdh5.12.0.p0.121-el6.parcel' %}
{% assign splvar_install_v270_CDH5120-EL7     = 'https://s3.amazonaws.com/splice-releases/2.6.1.1745/cluster/parcel/cdh5.12.0/SPLICEMACHINE-2.6.1.1745.cdh5.12.0.p0.121-el7.parcel' %}
{% assign splvar_install_v270_CDH5120-PRECISE = 'https://s3.amazonaws.com/splice-releases/2.6.1.1745/cluster/parcel/cdh5.12.0/SPLICEMACHINE-2.6.1.1745.cdh5.12.0.p0.121-precise.parcel' %}
{% assign splvar_install_v270_CDH5120-SLES11  = 'https://s3.amazonaws.com/splice-releases/2.6.1.1745/cluster/parcel/cdh5.12.0/SPLICEMACHINE-2.6.1.1745.cdh5.12.0.p0.121-sles11.parcel' %}
{% assign splvar_install_v270_CDH5120-TRUSTY  = 'https://s3.amazonaws.com/splice-releases/2.6.1.1745/cluster/parcel/cdh5.12.0/SPLICEMACHINE-2.6.1.1745.cdh5.12.0.p0.121-trusty.parcel' %}
{% assign splvar_install_v270_CDH5120-WHEEZY  = 'https://s3.amazonaws.com/splice-releases/2.6.1.1745/cluster/parcel/cdh5.12.0/SPLICEMACHINE-2.6.1.1745.cdh5.12.0.p0.121-wheezy.parcel' %}
{% assign splvar_install_v270_CDH583-EL6      = 'https://s3.amazonaws.com/splice-releases/2.6.1.1745/cluster/parcel/cdh5.8.3/SPLICEMACHINE-2.6.1.1745.cdh5.8.3.p0.121-el6.parcel' %}
{% assign splvar_install_v270_CDH583-EL7      = 'https://s3.amazonaws.com/splice-releases/2.6.1.1745/cluster/parcel/cdh5.8.3/SPLICEMACHINE-2.6.1.1745.cdh5.8.3.p0.121-el7.parcel' %}
{% assign splvar_install_v270_CDH583-PRECISE  = 'https://s3.amazonaws.com/splice-releases/2.6.1.1745/cluster/parcel/cdh5.8.3/SPLICEMACHINE-2.6.1.1745.cdh5.8.3.p0.121-precise.parcel' %}
{% assign splvar_install_v270_CDH583-SLES11   = 'https://s3.amazonaws.com/splice-releases/2.6.1.1745/cluster/parcel/cdh5.8.3/SPLICEMACHINE-2.6.1.1745.cdh5.8.3.p0.121-sles11.parcel' %}
{% assign splvar_install_v270_CDH583-TRUSTY   = 'https://s3.amazonaws.com/splice-releases/2.6.1.1745/cluster/parcel/cdh5.8.3/SPLICEMACHINE-2.6.1.1745.cdh5.8.3.p0.121-trusty.parcel' %}
{% assign splvar_install_v270_CDH583-WHEEZY   = 'https://s3.amazonaws.com/splice-releases/2.6.1.1745/cluster/parcel/cdh5.8.3/SPLICEMACHINE-2.6.1.1745.cdh5.8.3.p0.121-wheezy.parcel' %}
{% assign splvar_install_v270_MAPR520         = 'https://s3.amazonaws.com/splice-releases/2.6.1.1745/cluster/installer/mapr5.2.0/SPLICEMACHINE-2.6.1.1745.mapr5.2.0.p0.121.tar.gz' %}
{% assign splvar_install_v270_HDP255          = 'https://s3.amazonaws.com/splice-releases/2.6.1.1745/cluster/installer/hdp2.5.5/SPLICEMACHINE-2.6.1.1745.hdp2.5.5.p0.121.tar.gz' %}
{% assign splvar_install_v270_Standalone      = 'https://s3.amazonaws.com/splice-releases/2.6.1.1745/standalone/splicemachine-2.6.1.1735_standalone.tar.gz' %}
{% assign splvar_install_v250_CDH5120-EL6     = 'https://s3.amazonaws.com/splice-releases/2.5.0.1802/cluster/parcel/cdh5.12.0/SPLICEMACHINE-2.5.0.1802.cdh5.12.0.p0.540-el6.parcel' %}
{% assign splvar_install_v250_CDH5120-EL7     = 'https://s3.amazonaws.com/splice-releases/2.5.0.1802/cluster/parcel/cdh5.12.0/SPLICEMACHINE-2.5.0.1802.cdh5.12.0.p0.540-el7.parcel' %}
{% assign splvar_install_v250_CDH5120-PRECISE = 'https://s3.amazonaws.com/splice-releases/2.5.0.1802/cluster/parcel/cdh5.12.0/SPLICEMACHINE-2.5.0.1802.cdh5.12.0.p0.540-precise.parcel' %}
{% assign splvar_install_v250_CDH5120-SLES11  = 'https://s3.amazonaws.com/splice-releases/2.5.0.1802/cluster/parcel/cdh5.12.0/SPLICEMACHINE-2.5.0.1802.cdh5.12.0.p0.540-sles11.parcel' %}
{% assign splvar_install_v250_CDH5120-TRUSTY  = 'https://s3.amazonaws.com/splice-releases/2.5.0.1802/cluster/parcel/cdh5.12.0/SPLICEMACHINE-2.5.0.1802.cdh5.12.0.p0.540-trusty.parcel' %}
{% assign splvar_install_v250_CDH5120-WHEEZY  = 'https://s3.amazonaws.com/splice-releases/2.5.0.1802/cluster/parcel/cdh5.12.0/SPLICEMACHINE-2.5.0.1802.cdh5.12.0.p0.540-wheezy.parcel' %}
{% assign splvar_install_v250_CDH583-EL6      = 'https://s3.amazonaws.com/splice-releases/2.5.0.1802/cluster/parcel/cdh5.8.3/SPLICEMACHINE-2.5.0.1802.cdh5.8.3.p0.540-el6.parcel' %}
{% assign splvar_install_v250_CDH583-EL7      = 'https://s3.amazonaws.com/splice-releases/2.5.0.1802/cluster/parcel/cdh5.8.3/SPLICEMACHINE-2.5.0.1802.cdh5.8.3.p0.540-el7.parcel' %}
{% assign splvar_install_v250_CDH583-PRECISE  = 'https://s3.amazonaws.com/splice-releases/2.5.0.1802/cluster/parcel/cdh5.8.3/SPLICEMACHINE-2.5.0.1802.cdh5.8.3.p0.540-precise.parcel' %}
{% assign splvar_install_v250_CDH583-SLES11   = 'https://s3.amazonaws.com/splice-releases/2.5.0.1802/cluster/parcel/cdh5.8.3/SPLICEMACHINE-2.5.0.1802.cdh5.8.3.p0.540-sles11.parcel' %}
{% assign splvar_install_v250_CDH583-TRUSTY   = 'https://s3.amazonaws.com/splice-releases/2.5.0.1802/cluster/parcel/cdh5.8.3/SPLICEMACHINE-2.5.0.1802.cdh5.8.3.p0.540-trusty.parcel' %}
{% assign splvar_install_v250_CDH583-WHEEZY   = 'https://s3.amazonaws.com/splice-releases/2.5.0.1802/cluster/parcel/cdh5.8.3/SPLICEMACHINE-2.5.0.1802.cdh5.8.3.p0.540-wheezy.parcel' %}
{% assign splvar_install_v250_MAPR520         = 'https://s3.amazonaws.com/splice-releases/2.5.0.1802/cluster/installer/mapr5.2.0/SPLICEMACHINE-2.5.0.1802.mapr5.2.0.p0.540.tar.gz' %}
{% assign splvar_install_v250_HDP255          = 'https://s3.amazonaws.com/splice-releases/2.5.0.1802/cluster/installer/hdp2.5.5/SPLICEMACHINE-2.5.0.1802.hdp2.5.5.p0.540.tar.gz' %}
{% assign splvar_install_v250_Standalone      = 'https://s3.amazonaws.com/splice-releases/2.5.0.1802/standalone/splicemachine-2.5.0.1729.tar.gz' %}
{% comment %}   ---------------------------------------------------------------------
                -------------------- DATABASE LIMITS VARIABLES ----------------------
                ---------------------------------------------------------------------
{% endcomment %}
{% assign splvar_limit_MaxColumnsInTable = '100000' %}
{% assign splvar_limit_MaxColumnsInView = '5000' %}
{% assign splvar_limit_MaxIndexesOnTable = '32767' %}
{% assign splvar_limit_MaxTriggerRecursion = '16' %}
{% assign splvar_limit_MaxParamsInStoredProc = '90' %}
{% assign splvar_limit_MaxElementsSelect = '1012' %}
{% assign splvar_limit_MaxElementsGroupBy = '32677' %}
{% assign splvar_limit_MaxElementsOrderBy = '1012' %}
{% comment %}   ---------------------------------------------------------------------
                ------------------------ PLATFORM VARIABLES -------------------------
                ---------------------------------------------------------------------
{% endcomment %}
{% assign splvar_platform_v27_CDH5-Versions  = 'CDH 5.12.0 and 5.8.3' %}
{% assign splvar_platform_v27_CDH5-Hadoop = '2.6.1' %}
{% assign splvar_platform_v27_CDH5-HBase = '1.0.0' %}
{% assign splvar_platform_v27_CDH5-OS = 'CentOS/RHEL 6' %}
{% assign splvar_platform_v27_CDH5-Zookeeper = '3.4.5' %}
{% assign splvar_platform_v27_CDH5-AuthSettingsLoc = 'hbase-site.xml' %}
{% assign splvar_platform_v27_HDP2-Versions  = 'HDP 2.5.5' %}
{% assign splvar_platform_v27_HDP2-Hadoop = '2.7.1' %}
{% assign splvar_platform_v27_HDP2-HBase = '1.1.2' %}
{% assign splvar_platform_v27_HDP2-OS = 'CentOS/RHEL 6' %}
{% assign splvar_platform_v27_HDP2-Zookeeper = '3.4.5' %}
{% assign splvar_platform_v27_HDP2-AuthSettingsLoc = 'Select the Custom HBase Configs option from the HBase configuration tab.' %}
{% assign splvar_platform_v27_MapR5-Versions = 'MapR 5.2.0' %}
{% assign splvar_platform_v27_MapR5-Hadoop = '2.7.0' %}
{% assign splvar_platform_v27_MapR5-HBase = '1.1.1' %}
{% assign splvar_platform_v27_MapR5-OS = 'CentOS/RHEL 6' %}
{% assign splvar_platform_v27_MapR5-Zookeeper = '3.4.5' %}
{% assign splvar_platform_v25_MapR5-Versions = 'MapR 5.2.0' %}
{% assign splvar_platform_v25_CDH5-Versions  = 'CDH 5.12.0 and 5.8.3' %}
{% assign splvar_platform_v25_HDP2-Versions  = 'HDP 2.5.5' %}
{% assign splvar_platform_v27_MapR5-YarnDir = '/opt/mapr/hadoop/hadoop-2.7.0/share/hadoop/yarn/' %}
{% assign splvar_platform_v25_CDH5-Hadoop = '2.6.0' %}
{% assign splvar_platform_v25_CDH5-HBase = '1.0.0' %}
{% assign splvar_platform_v25_CDH5-OS = 'CentOS/RHEL 6' %}
{% assign splvar_platform_v25_CDH5-Zookeeper = '3.4.5' %}
{% assign splvar_platform_v25_HDP2-Versions  = 'HDP 2.5.5' %}
{% assign splvar_platform_v25_HDP2-Hadoop = '2.7.1' %}
{% assign splvar_platform_v25_HDP2-HBase = '1.1.2' %}
{% assign splvar_platform_v25_HDP2-OS = 'CentOS/RHEL 6' %}
{% assign splvar_platform_v25_HDP2-Zookeeper = '3.4.5' %}
{% assign splvar_platform_v25_MapR5-Versions = 'MapR 5.2.0' %}
{% assign splvar_platform_v25_MapR5-Hadoop = '2.7.0' %}
{% assign splvar_platform_v25_MapR5-HBase = '1.1.1' %}
{% assign splvar_platform_v25_MapR5-OS = 'CentOS/RHEL 6' %}
{% assign splvar_platform_v25_MapR5-Zookeeper = '3.4.5' %}
{% assign splvar_platform_v25_MapR5-YarnDir = '/opt/mapr/hadoop/hadoop-2.7.0/share/hadoop/yarn/' %}
{% assign splvar_platform_v25_CDH5-AuthSettingsLoc = 'hbase-site.xml' %}
{% assign splvar_platform_v25_HDP2-AuthSettingsLoc = 'Select the Custom HBase Configs option from the HBase configuration tab.' %}
{% assign splvar_platform_MapR-AuthSettingsLoc = 'hbase-site.xml' %}
{% assign splvar_platform_MapR-DefaultReplication = '3' %}
{% assign splvar_platform_Standalone-AuthSettingsLoc = 'splicemachine/lib/splice-site.xml' %}
{% comment %}   ---------------------------------------------------------------------
                ---------------- LOCATION (EXTERNAL URL) VARIABLES ------------------
                ---------------------------------------------------------------------
{% endcomment %}
{% assign splvar_location_GetStartedLink = 'https://www.splicemachine.com/get-started/' %}
{% assign splvar_location_StandaloneLink = 'https://www.splicemachine.com/get-started/download/' %}
{% assign splvar_location_CommunityLink  = 'https://www.splicemachine.com/get-started/cluster-download/' %}
{% assign splvar_location_DBaaSStartLink = 'https://www.splicemachine.com/get-started/' %}
{% assign splvar_location_OnPremStartLink= 'https://www.splicemachine.com/product/how-it-works/'}
{% assign splvar_location_EnterpriseInfoLink = 'https://www.splicemachine.com/product/pricing/' %}
{% assign splvar_location_StandaloneStartScript = './bin/start-splice.sh' %}
{% assign splvar_location_StandaloneStopScript = './bin/stop-splice.sh' %}
{% assign splvar_location_StandaloneCleanScript = './bin/clean.sh' %}
{% assign splvar_platform_JDBCDriverLoc261 = 'https://s3.amazonaws.com/splice-releases/jdbc-driver/db-client-2.6.1.1736.jar' %}
{% assign splvar_location_JDBCDriverJar261 = 'db-client-2.6.1.1736.jar' %}
{% assign splvar_platform_JDBCDriverLoc250 = 'https://s3.amazonaws.com/splice-releases/jdbc-driver/db-client-2.5.0.1734.jar' %}
{% assign splvar_location_JDBCDriverJar250 = 'db-client-2.5.0.1734.jar' %}
{% assign splvar_location_ODBCDriverLink = 'https://www.splicemachine.com/get-started/odbc-driver-download/' %}
{% assign splvar_location_SpliceMgmtConsoleUrl = 'http://localhost:4040' %}
