{% if page.sidebar == "home_sidebar" %}
{% assign sidebar = site.data.sidebars.home_sidebar.entries %}

{% elsif page.sidebar == "cmdlineref_sidebar" %}
{% assign sidebar = site.data.sidebars.cmdlineref_sidebar.entries %}

{% elsif page.sidebar == "sqlref_sidebar" %}
{% assign sidebar = site.data.sidebars.sqlref_sidebar.entries %}

{% elsif page.sidebar == "developers_sidebar" %}
{% assign sidebar = site.data.sidebars.developers_sidebar.entries %}

{% elsif page.sidebar == "sparkconsole_sidebar" %}
{% assign sidebar = site.data.sidebars.sparkconsole_sidebar.entries %}

{% elsif page.sidebar == "notes_sidebar" %}
{% assign sidebar = site.data.sidebars.notes_sidebar.entries %}

{% elsif page.sidebar == "onprem_sidebar" %}
{% assign sidebar = site.data.sidebars.onprem_sidebar.entries %}

{% else %}
{% assign sidebar = site.data.sidebars.home_sidebar.entries %}
{% endif %}
