$version_customer: 2.7;
$version_internal: 2.7;

$content-width: 100%;
$main: #FFFFFF;


	// ------------  Printed Page Layout Variables ---------------
$page-size:           8.5in 10.5in;
$page-margin-top:     0.5;
$page-margin-bottom:  0.5;
$page-margin-left:    0.5;
$page-margin-right:   0.5;
$page-margin-inside:  0;
$page-margin-outside: 0;

	// ------------  Font Definitions ---------------
$bodyfont-face:  'Open Sans', sans-serif;
$bodyfont-size:  10pt;
$bodyfont-bold:  600;
$bodyfont-color: #4a4f54;

$codefont-face:   Courier, monospace;
$codefont-size:   10.5pt;
$codefont-weight: 550;
$codefont-bold:   700;
$codefont-color:  #4a4f54;

$copyrightfont-size: 9pt;
$copyright-color:    #f6a81c;

$heading-font:        'Muli', sans-serif;
$heading-bold-weight: 600;
$heading1-font-color: #f7a800;
$heading2-font-color: #3390db;
$heading3-font-color: #174e89;
$heading4-font-color: #127fd6;
$heading5-font-color: #606060;

$lastgendatefont-size:  9pt;
$lastgendatefont-style: italic;

$link-color:            #0066ff;
$link-hover-color:      #0066ff;
$link-visited-color:    #0066ff;

$pagefooter-font:  'Open Sans', sans-serif;
$pagefooter-size:   8pt;
$pagefooter-style:  normal;
$pagefooter-weight: normal;
$pagefooter-color:  #808080;

$pageheader-font:  'Open Sans', sans-serif;
$pageheader-size:   8pt;
$pageheader-style:  italic;
$pageheader-weight: 550;
$pageheader-color:  #808080;

$printtitle-font:  'Muli', sans-serif;
$printtitle-size:   27pt;
$printtitle-weight: bold;
$printtitle-color:  #3390db;

$tocentry-font:     'Open Sans', sans-serif;
$tocentry-size:     9pt;
$tocentry-weight:   normal;
$tocentry-color:    #3390db;


$tocheading-font:   'Open Sans', sans-serif;
$tocheading-size:   13pt;
$tocheading-weight: 550;
$tocheading-color:  #f7a800;

$tocheading2-font:   'Open Sans', sans-serif;
$tocheading2-size:   11pt;
$tocheading2-weight: 550;
$tocheading2-color:  #3390db;

$extralargefont-size: 2em;
$largefont-size:      1.1em;
$smallfont-size:      0.9em;

	// ------------  Background Colors ---------------
$bgcolor-app:             #fffdf5;
$bgcolor-blue:            #d9e4f1;
$bgcolor-darkgreen:       #629e78;
$bgcolor-example:         #fcf8f0;
$bgcolor-fcnSyntax:       #edf4fa;
$bgColor-featureTable:    #eeeeee;
$bgColor-featureTable-th: #2c84d2;
$bgcolor-footer:          #f6f6f8;
$bgcolor-green:           #a4ccb3;
$bgcolor-important:       #ffffff;
$bgcolor-note:            #F6F6F8;
$bgcolor-pageheader:      #d9e4f1;
$bgcolor-red:             #d39c9b;
$bgcolor-searchbutton:    #fcf8f0;
$bgcolor-shellcmd:        #f5fff5;
$bgColor-table-th:        #dcdcdc;


	// ------------  Misc Colors  ---------------
$breadcrumb-color:      #777777;
$callout-color:         #f39939;
$consoleLink-color:     #3ba3d8;
$footer-color:          #3390db;
$footnote-color:        #000000;
$header-color:          #4a4f54;
$highlight-color:       #ffff00;
$important-color:       #ff0000;
$lastgendatefont-color: #888888;
$light:                 #E7EDF4;
$varname-color:         #f5f5dc;

	// ------------  Note Colors ---------------
$note-enterprise-color: #666666;
$note-leader-color:     #F39939;
$note-leader-weight:    600;
$note-max-width:        75%;
$note-text-color:       #4a4f54;
$note-text-weight:      normal;

	// ------------  Table Colors ---------------
$table-appFont-color:    #fffdf5;
$table-separator-color:  #eee;
$table-separator-height: 4px;

	// ------------  Border Definitions  ---------------
$border-note:            2px solid #d6dbe0;
$border-note-radius:     12px;
$border-opsSteps:        2px solid #d6dbe0;
$border-opsSteps-radius: 14px;
$border-table:           1px solid #8d9090;
$border-table-radius:    12px;

	// ------------ Feature Table Definitions (used on Enterprise page only)
$featureTable-name-face:       Tahoma;
$featureTable-checkmark-face:  'Letter Gothic Std';
$featureTable-checkmark-color: #333333;
$featureTable-color:           #4e4e62;
$featureTable-th-color:        #FFFFFF;

    // ------------- Table of Contents ----------------
$tocTableWidth: 90%;


    // ------------ Installer URL Table Colors ------------------
$versTbl-release-color:    #000000;
$versTbl-release-bgcolor:  #fcf8f0;
$versTbl-release-weight:   bold;

$versTbl-platform-color:   #4a4f54;
$versTbl-platform-bgcolor: #fffdf5;
$versTbl-platform-weight:  bold;

$versTbl-parcel-color:   #f39939;
$versTbl-parcel-bgcolor: transparent;
$versTbl-parcel-weight:  normal;
