
header {
	background: $header-color;
	padding: 0px 15px;
	text-align: center;
	margin: 50px 0 0;
	height: 95px;
	display: flex;
	justify-content: center;
	align-items: center;
}

main {
	padding: 0 15px;
	max-width: $content-width;
	margin: 0 auto;
	prince-pdf-link-type: file
}


.container {
	max-width: $content-width;
	margin: 0 auto;
}

/* ************************************
*,
*::before,
*::after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
*************************************** */
