$version_customer: 2.5;
$version_internal: 2.5;

$content-width: 100%;
$main: #FFFFFF;

	// ------------  Font Definitions ---------------
$bodyfont-face: 'Open Sans', sans-serif;
$bodyfont-size: 15px;
$bodyfont-bold: 600;
$caption-size: 13px;
$caption-bold: 700;
$codefont-face: 'Courier New', Courier, monospace;
$codefont-size: 15px;
$codefont-weight: 500;
$codefont-bold: 600;
$footerfont-face: 'Open Sans', sans-serif;
$footerfont-size: 11px;
$heading-font: 'Muli', sans-serif;
$heading-bold-weight: 600;
$searchfont-face: 'Open Sans', sans-serif;
$searchfont-size: 12px;
$searchfont-style: normal;
$searchfont-weight: normal;

$sidebarfont-size:   12px;
$sidebarfont-height: 18px;
$sidebartitle-color: #3390db;
$sidebartitle-size: 16px;
$sidebartitle-weight: 400;
$sidebarsmall-color: #4a4f54;
$sidebarsmall-size:  11px;

$smallfont-size: 12px;
$largefont-size: 1.1em;
$extralargefont-size: 2em;

	// ------------  Color Definitions ---------------
$bodyfont-color: #4a4f54;
$breadcrumb-color: #777777;
$callout-color: #f39939;
$caption-color: #000000;
$codefont-color: #4a4f54;
$consoleLink-color: #3ba3d8;
$copyright-color: #f6a81c;
$footer-color: #3390db;
$footnote-color: #000000;
$header-color:  #4a4f54;
$highlight-color: #ffff00;
$important-color: #ff0000;
$light: #E7EDF4;
$searchinput-color: #4a4f54;
$searchbutton-color: #3ba3d8;


	// ------------  Background Color Definitions ---------------
$bgcolor-app: #fffdf5;
$bgcolor-blue: #d9e4f1;
$bgcolor-darkgreen: #629e78;
$bgcolor-example: #fcf8f0;
$bgcolor-fcnSyntax: #edf4fa;
$bgColor-featureTable: #eeeeee;
$bgColor-featureTable-th: #2c84d2;
$bgcolor-footer: #f6f6f8;
$bgcolor-green: #a4ccb3;
$bgcolor-important: #ffffff;
$bgcolor-note: #F6F6F8;
$bgcolor-red: #d39c9b;
$bgcolor-searchbutton: #fcf8f0;
$bgcolor-shellcmd: #f5fff5;
$bgColor-table-th: #dcdcdc;

	// ------------  Border Definitions  ---------------
$border-note: 2px solid #d6dbe0;
$border-note-radius: 12px;
$border-opsSteps: 2px solid #d6dbe0;
$border-opsSteps-radius: 14px;
$border-table: 1px solid #8d9090;
$border-table-radius: 12px;

	// ------------ Feature Table Definitions (used on Enterprise page only)
$featureTable-name-face: Tahoma;
$featureTable-checkmark-face: 'Letter Gothic Std';
$featureTable-checkmark-color: #333333;
$featureTable-color: #4e4e62;
$featureTable-th-color: #FFFFFF;

$splicecheckbox-color: #f7a800;

	// ------------  Headings Colors ---------------
$heading1-font-color: #f7a800;
$heading2-font-color: #3390db;
$heading3-font-color: #174e89;
$heading4-font-color: #127fd6;
$heading5-font-color: #606060;

	// ------------  Link Colors ---------------
$link-color: #3390db;
$link-hover-color: #f7a800;

	// ------------  Navigation Colors ---------------
$accordion-size: 12px;
$accordiontoggle-size: 14px;
$anchorjs-hover-color: #216f9b;

$sidebarlink-color: #3390db;
$sidebarlink-bgcolor: #f1f1f1;
$sidebarlink-hover: #f7a800;
$sidebarlink-hover-bg: #f1f1f1;
$sidebarlink3-color: #127fd6;
$sidebarlinkspan-size: 19px;
$sidebarsubtitle-color: whitesmoke;

$navbaritem-color: #ffffff;
$navbaritem-hover-color: #ffd585;
$navbaropen-color: #3390db;
$navbardefault-border: #e7e7e7;
$navbardefault-bgcolor: #f8f8f8;
$navbar-active-color:   #f7a800;
$navbar-active-bgcolor: #f8f8f8;
$nav-bgcolor: #3390db;
$nav-border:  #3390db;
$nav-active-color: #cccccc;
$nav-active-bgcolor: #3390db;


$pagelink-color:        #f7a800;;
$pagelink-size:         $bodyfont-size+1;
$pagelink-style:        italic;
$pagelink-weight:       300;


$series-bgcolor: #fafafa;
$series-bghover: #777777;
$serieslink-size: 12px;
$seriesdropdown-size: 18px;

$summary-color: #808080;
$summary-border: 5px solid #ed1951;
$summaryfont-size: 15px;

$tab-bgcolor: #fafafa;

	// ------------  Note Colors ---------------
$note-enterprise-color: #666666;
$note-leader-color: #F39939;
$note-leader-weight: 600;
$note-max-width: 75%;
$note-text-color: #4a4f54;
$note-text-weight: normal;


	// ------------  Table Colors ---------------
$table-appFont-color: #fffdf5;
$table-separator-color: #eee;
$table-separator-height: 4px;
$table-oddrow-bgcolor: #fefefe;
$table-evenrow-bgcolor:  #f8f8f8;

    // ------------ Installer URL Table Colors ------------------
$versTbl-release-color:    #000000;
$versTbl-release-bgcolor:  #fcf8f0;
$versTbl-release-weight: bold;

$versTbl-platform-color:   #4a4f54;
$versTbl-platform-bgcolor: #fffdf5;
$versTbl-platform-weight: bold;

$versTbl-parcel-color:   #f39939;
$versTbl-parcel-bgcolor: transparent;
$versTbl-parcel-weight: normal;


$varname-color: #f5f5dc;
