                /****  Styles brought in from customstyles ****/


/* navgoco sidebar styles (customized) */
.nav, .nav ul{
    list-style: none;
    padding: 0;
    margin:0px;
}

.nav a {
    color: $sidebarlink-color;
    display: block;
    outline: none;
    /*-webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;*/
    text-decoration: none;
}

.nav a:hover {
    background-color: $sidebarlink-hover-bg;
    color: $sidebarlink-hover;
}

.nav > li {
    list-style: none;
    margin: 1px 0;
}

.nav li a {
    font-size: $sidebarfont-size;
    line-height: $sidebarfont-height;
    padding: 6px 10px;  // old: 2px 10px;
    background-color: none;
    text-decoration: none;
}

.nav > li > a {
    font-size: $sidebarfont-size;
    line-height: $sidebarfont-height;
    padding: 6px 6px; // old: 4px 4px;
    color: $sidebarlink-color;
    font-weight: bolder;
    text-decoration: none;
}

.nav > li > a:hover {
    color: $sidebarlink-hover;
    background-color: $sidebarlink-hover-bg;
}

.nav li > a > span {
    float: right;
    font-size: $sidebarlinkspan-size;
    font-weight: bolder;
}

.nav li > a > span:after {
    content: '\25b9';
}

.nav li.active > a > span:after {
    content: '\25bf';
}

.nav > li.active > a {
    color: $navbar-active-color;
    background-color: $navbar-active-bgcolor;
}

.nav > li li.active > a {
    background-color: $nav-active-bgcolor;
    color: $nav-active-color;
}

.nav li.active > a.subfoldersTitle {
    background-color: $sidebarsubtitle-color;
    font-weight: bold;
    color: black;
    }

.nav > li li {
    margin: 2px 0;
}

.nav ul li ul li a {
    padding-left: 20px;
    color: $sidebarsmall-color;
    font-size:   $sidebarsmall-size;
}

.nav li.thirdlevel > a {
    color: $sidebarlink3-color;
    font-weight:bold;
    padding-left:20px;
    background-color: $sidebarsubtitle-color !important;
}

ul#mysidebar {
    border-radius:0px;
}


#mysidebar .nav ul {
    background-color: $sidebarlink-bgcolor;
}

    /* Sidebar */
div.sidebarTitle {
    color: $nav-bgcolor;
}

li.sidebarTitle, li.sidebarTitle a {
    margin: 10px 0 5px 0;
    font-weight: $sidebartitle-weight;
    font-size: $sidebartitle-size;
    color: $sidebartitle-color;
    background-color: white;
}


li.dropdownActive a {
    font-weight: bold;
}

/* end sidebar */



    /* Buttons */
.btn-primary {
    color: #ffffff;
    background-color: $nav-bgcolor;
    border-color: $nav-bgcolor;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
    background-color: $nav-bgcolor;
    border-color: $nav-border;
}


                /****  Styles brought in from theme_blue  ****/

    /* Navigation Bar */
.navbar-default {
    background-color: $navbardefault-bgcolor;
    border-color: $navbardefault-border;
}

a.fa.fa-home.fa-lg.navbar-brand {
    color: $navbaritem-color;
    text-decoration: none !important;
}

a.fa.fa-home.fa-lg.navbar-brand:hover{
    color: $navbaritem-hover-color;
}

a.dropdown-toggle {
    margin-left: 32px;
}

.navbar-inverse {
    background-color: $nav-bgcolor;
}

.navbar-inverse .navbar-nav > li > a {
    background-color: transparent;
    color: $navbaritem-color;
    margin-left: 32px;
    margin-top: 10px;
}

.navbar-inverse .navbar-nav > li > a:hover {
    color: $navbaritem-hover-color;
}

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
    background-color: $nav-bgcolor;
    border-radius:5px;
}

.navbar-inverse .navbar-nav>.open>a,
.navbar-inverse .navbar-nav>.open>a:focus,
.navbar-inverse .navbar-nav>.open>a:hover {
    border-radius: 5px;
    background-color: $navbaritem-hover-color;
    color: $navbaropen-color;
}

/* not sure if using this ...*/
.navbar-inverse .navbar-collapse,
.navbar-inverse .navbar-form {
    border-color: $nav-border !important;
}

div.navbar-collapse .dropdown-menu > li > a:hover {
    background-color: $nav-bgcolor;
}

.navbar-inverse .navbar-collapse,
.navbar-inverse .navbar-form {
    border-color: $nav-border !important;
}


.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
    background-color: $nav-bgcolor;
    color: $navbaritem-color;
}



    /* Miscellaneous */
.col-lg-12 .nav li a {background-color: white}

.summary {
    color: $summary-color;
    border-left: $summary-border;
    font-size: $summaryfont-size;
}

.anchorjs-link:hover {
    color: $anchorjs-hover-color;
}

*:hover > .anchorjs-link {
    transition: color .25s linear;
    text-decoration: none;
}

/* FAQ page */
#accordion .panel-heading {
    font-size: $accordion-size;
}

a.accordion-toggle, a.accordion-collapsed {
    font-size: $accordiontoggle-size;
    text-decoration: none;
}

        /*** Tabs ***/
.tab-content {
    padding: 15px;
    background-color: $tab-bgcolor;
}

.tabLabel {
    font-weight: normal;
}

        /*** Series ***/

.nav ul.series li {
    list-style: decimal;
    font-size: $serieslink-size;
}

.nav ul.series li a:hover {
    background-color: series-bghover;
}
.nav ul.series {
    padding-left: 30px;
}

.nav ul.series {
    background-color: $series-bgcolor;
}

.seriesContext .dropdown-menu li.active {
    font-weight: bold;
    margin-left: 43px;
    font-size: $seriesdropdown-size;
}

.seriesNext, .seriesContext {
    margin-top: 15px;
    margin-bottom: 15px;
}

.seriescontext ol li {
    list-style-type: upper-roman;
}

ol.series li {
    list-style-type: decimal;
    margin-left: 40px;
    padding-left: 0px;
}



.breadcrumb > .active {color: $breadcrumb-color !important;}

.breadcrumb li {
    color: $breadcrumb-color;
}
