
$search_container_width: 320px;
$search_container_height: 40px;
$search_input_width: 100px;

/* search area */
#swiftype-search-container {
    margin-top: 8px;
    margin-right: 0;
    margin-left: 40px;
    list-style: none;
    font-face: $searchfont-face;
    font-size: $searchfont-size;
    font-style: $searchfont-style;
    font-weight: $searchfont-weight;
    color: $searchinput-color;
    background-color: transparent;
    float: right;
    z-index: -1;
    width: $search_container_width;
}

input.swiftype-search {
    padding: 5px;
    margin-top: 2px;
    width: $search_input_width;
    font-size: 0.8em;
    float: right;
    margin-top:18px;
    border: none;
}

button.swiftype-submit {
    margin: -5px 0 0 0;
    font-size: 1.0em;
    border: 2px solid $searchbutton-color;
    border-radius: 6px;
    color: $searchbutton-color;
    background-color: $bgcolor-searchbutton;
    font-weight: bold;
    height: 28px;
}

/* search area */
#search-demo-container ul#results-container {
    list-style: none;
    font-size: 12px;
    background-color: white;
    position: absolute;
    top: 40px; /* if you change anything about the nav, you'll prob. need to reset the top and left values here.*/
    /*left: $search_results_offset;*/
    right: 0;
    z-index: -1;
    width: $search_container_width;
    border-left: 1px solid #dedede;
    box-shadow: 2px 3px 2px #dedede;
}


ul#results-container a {
    background-color: transparent;
}

ul#results-container a:hover {
    color: black;
}

#search-demo-container a:hover {
    color: black;
}
#search-input {
    padding: 5px;
    margin-left:40px;
    width: $search_input_width;
    font-size: 0.8em;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    float: right;
    margin-top:18px;
}

        /* algolia search */

.search {
    text-align: left;
}
.search input {
    font-size: 20px;
    width: 300px;
}
.results {
    margin: auto;
    text-align: left;
}
.results ul {
    list-style-type: none;
    padding: 0;
}

div.results {
    position: absolute;
    background-color: white;
    width: 100%;
}
