
body {
	font-family: $bodyfont-face;
	font-size:   $bodyfont-size;
	font-style:  normal;
	font-weight: normal;
	color:       $bodyfont-color;
	margin:      4px 0 16px 0;
	text-align:  left;
	line-height: 1.25;
	-webkit-font-smoothing: antialiased;
}
