
/* Table of Contents Styles */


div.tocnav {

   table {
       max-width: $tocTableWidth;
   }

}


h2.printtoc {
}

ul.printtoc1,
ul.printtoc2 {
	display: block;
	list-style-image: none;
	list-style-type:  none;
	margin:           0 0 0 0;
	padding:          0 0 0 0;
	line-height:	  1.0;
}

ul.printtoc1 {
	margin: 0 0 0 0.25in;
}

ul.printtoc2 {
	margin: 0 0 0 0.25in;
}

ul.printtoc1 li.sectionHead,
ul.printtoc2 li.sectionHead {
    font-family: $tocheading-font;
    font-size:   $tocheading-size;
    font-weight: $tocheading-weight;
    color:       $tocheading-color;
    text-decoration: none;
}

ul.printtoc1 li.sectionHead {
    margin:      12pt 0 0 0;
    padding:     0;
}

ul.printtoc2 li.sectionHead {
    margin:      6pt 0 0 0;
    padding:     0;
}

ul.printtoc1 li,
ul.printtoc2 li {
    font-family:    $tocentry-font;
    font-size:      $tocentry-size;
    font-weight:    $tocentry-weight;
    color:          $tocentry-color;
    text-decoration:none;
}

ul.printtoc1 li {
	margin: 0 0 0 0;
	padding: 0;
}

ul.printtoc2 li {
	margin: 0 0 0 0;
	padding: 0;
}

ul.printtoc1 li a[href],
ul.printtoc2 li a[href]{
    color:           $tocentry-color;
    text-decoration: none;

    &:after {
       content: leader(".") target-counter(attr(href), page);
   }
}
