
body {
	margin: 0;
	color: $bodyfont-color;
	font-family: $bodyfont-face;
	font-size: 1.0em;
	line-height: 1.4;
	-webkit-font-smoothing: antialiased;
}

a,
a:link,
a:visited
{
	color: $link-color;
	text-decoration: underline;
}

a:hover,
a:active
{
	color: $link-hover-color;
	text-decoration: underline;
}


footer {
    font-size: smaller;
}


.footer {
    text-align: right;
    height: auto;
}

.footerMeta {
    background-color: whitesmoke;
    padding: 10px;
    max-width: 250px;
    border-radius: 5px;
    margin-top: 25px;
    font-style:italic;
    font-size:0.9em;
}
