{% assign splvar_basic_CustDocReleaseDate = 'July 30, 2017' %}
{% assign splvar_basic_SpliceReleaseVersion = '2.6' %}
{% assign splvar_basic_SplicePrevReleaseVersion = '2.5' %}
{% assign splvar_basic_Copyright = '© 2017, Splice Machine, Inc.' %}
{% assign splvar_basic_SplicePreviousVersion = '2.6' %}
{% assign splvar_basic_SpliceNextVersion = '2.6' %}
{% assign splvar_basic_InternalReleaseVersion = '2.6' %}
{% assign splvar_basic_InternalDocReleaseDate = 'July 31, 2017' %}
{% assign splvar_basic_CommunitySupportLink = 'https://community.splicemachine.com/' %}
{% assign splvar_basic_ContactUsLink = 'https://www.splicemachine.com/company/contact-us/' %}
{% assign splvar_basic_SpliceReleaseDate = 'July, 2017' %}
{% assign splvar_basic_SpliceOpenSourceGit = 'https://github.com/splicemachine/spliceengine' %}
{% assign splvar_basic_CommunitySamplesRepo = 'https://github.com/splicemachine/splice-community-sample-code' %}
{% assign splvar_basic_SpliceDBaaSHome = 'https://cloud.splicemachine.com' %}
