{% assign splvar_install_CDH583  = '5.8.3' %}
{% assign splvar_install_CDH580  = '5.8.0' %}
{% assign splvar_install_CDH572  = '5.7.2' %}
{% assign splvar_install_HDP255  = '2.5.5' %}
{% assign splvar_install_HDP250  = '2.5.0' %}
{% assign splvar_install_HDP242  = '2.4.3' %}
{% assign splvar_install_MAPR520 = '5.2.0' %}
{% assign splvar_install_MAPR510 = '5.1.0' %}

{% assign splvar_install_v26_CDH583      = 'https://s3.amazonaws.com/splice-releases/Release-2.6/2.6.1.1736/cluster/parcel/cdh5.8.3/' %}
{% assign splvar_install_v26_CDH580      = 'https://s3.amazonaws.com/splice-releases/Release-2.6/2.6.1.1736/cluster/parcel/cdh5.8.0/' %}
{% assign splvar_install_v26_MAPR520     = 'https://s3.amazonaws.com/splice-releases/Release-2.6/2.6.1.1736/cluster/installer/mapr5.2.0/SPLICEMACHINE-2.6.1.1736.mapr5.2.0.p0.30.tar.gz' %}
{% assign splvar_install_v26_HDP255      = 'https://s3.amazonaws.com/splice-releases/Release-2.6/2.6.1.1736/cluster/installer/hdp2.5.5/SPLICEMACHINE-2.6.1.1736.hdp2.5.5.p0.395.tar.gz' %}
{% assign splvar_install_v26_Standalone  = 'https://s3.amazonaws.com/splice-releases/Release-2.6/2.6.1.1736/standalone/splicemachine-2.6.1.1736_standalone.tar.gz' %}

{% assign splvar_install_v25_CDH583      = 'https://s3.amazonaws.com/splice-releases/Release-2.5/2.5.0.1736/cluster/parcel/cdh5.8.3/' %}
{% assign splvar_install_v25_CDH580      = 'https://s3.amazonaws.com/splice-releases/Release-2.5/2.5.0.1736/cluster/parcel/cdh5.8.0/' %}
{% assign splvar_install_v25_MAPR520     = 'https://s3.amazonaws.com/splice-releases/Release-2.5/2.5.0.1736/cluster/installer/mapr5.2.0/SPLICEMACHINE-2.5.0.1736.mapr5.2.0.p0.395.tar.gz' %}
{% assign splvar_install_v25_HDP255      = 'https://s3.amazonaws.com/splice-releases/Release-2.6/2.6.1.1736/cluster/installer/hdp2.5.5/SPLICEMACHINE-2.6.1.1736.hdp2.5.5.p0.30.tar.gz' %}
{% assign splvar_install_v25_Standalone  = 'https://s3.amazonaws.com/splice-releases/Release-2.5/2.5.0.1736/standalone/splicemachine-2.5.0.1736_standalone.tar.gz' %}
