{% assign splvar_install_AWSS3Bucket = 'https://s3.amazonaws.com/splice-releases' %}
{% assign splvar_install_AWSInstallerPart = 'cluster/installer' %}
{% assign splvar_install_AWSParcelPart = 'cluster/parcel' %}
{% assign splvar_install_CurrentRelease = '2.5.0.1707' %}
{% assign splvar_install_HDP-R1 = 'hdp2.4.2' %}
{% assign splvar_install_HDP-R2 = 'hdp2.5.0' %}
{% assign splvar_install_MAPR-R1 = 'mapr5.1.0' %}
{% assign splvar_install_MAPR-R2 = 'mapr5.2.0' %}
{% assign splvar_install_CDH-R1 = 'cdh5.7.2' %}
{% assign splvar_install_CDH-R2 = 'cdh5.8.0' %}
{% assign splvar_install_CDH-R3 = 'cdh5.8.3' %}
{% assign splvar_install_SpliceReleaseGZ = 'p0.226.tar.gz' %}
{% assign splvar_install_CDH-R1Name = 'CDH 5.7.2' %}
{% assign splvar_install_CDH-R2Name = 'CDH 5.8.0' %}
{% assign splvar_install_CDH-R3Name = 'CDH 5.8.3' %}
{% assign splvar_install_HDP-R1Name = 'HDP 2.4.2' %}
{% assign splvar_install_HDP-R2Name = 'HDP 2.5.0' %}
{% assign splvar_install_MAPR-R1Name = 'MapR 5.1.0' %}
{% assign splvar_install_MAPR-R2Name = 'MapR 5.2.0' %}
{% assign splvar_install_SpliceReleasePart = 'p0.226' %}
