{% assign splvar_install_CDH5120 = '5.12.0' %}
{% assign splvar_install_CDH583  = '5.8.3' %}
{% assign splvar_install_CDH580  = '5.8.0' %}
{% assign splvar_install_CDH572  = '5.7.2' %}
{% assign splvar_install_HDP255  = '2.5.5' %}
{% assign splvar_install_HDP250  = '2.5.0' %}
{% assign splvar_install_HDP242  = '2.4.3' %}
{% assign splvar_install_MAPR520 = '5.2.0' %}
{% assign splvar_install_MAPR510 = '5.1.0' %}

{% assign splvar_install_v261_CDH5120-EL6     = 'https://s3.amazonaws.com/splice-releases/2.6.1.1736/cluster/parcel/cdh5.12.0/SPLICEMACHINE-2.6.1.1736.cdh5.12.0.p0.74-el6.parcel' %}
{% assign splvar_install_v261_CDH5120-EL7     = 'https://s3.amazonaws.com/splice-releases/2.6.1.1736/cluster/parcel/cdh5.12.0/SPLICEMACHINE-2.6.1.1736.cdh5.12.0.p0.74-el7.parcel' %}
{% assign splvar_install_v261_CDH5120-PRECISE = 'https://s3.amazonaws.com/splice-releases/2.6.1.1736/cluster/parcel/cdh5.12.0/SPLICEMACHINE-2.6.1.1736.cdh5.12.0.p0.74-precise.parcel' %}
{% assign splvar_install_v261_CDH5120-SLES11  = 'https://s3.amazonaws.com/splice-releases/2.6.1.1736/cluster/parcel/cdh5.12.0/SPLICEMACHINE-2.6.1.1736.cdh5.12.0.p0.74-sles11.parcel' %}
{% assign splvar_install_v261_CDH5120-TRUSTY  = 'https://s3.amazonaws.com/splice-releases/2.6.1.1736/cluster/parcel/cdh5.12.0/SPLICEMACHINE-2.6.1.1736.cdh5.12.0.p0.74-trusty.parcel' %}
{% assign splvar_install_v261_CDH5120-WHEEZY  = 'https://s3.amazonaws.com/splice-releases/2.6.1.1736/cluster/parcel/cdh5.12.0/SPLICEMACHINE-2.6.1.1736.cdh5.12.0.p0.74-wheezy.parcel' %}
{% assign splvar_install_v261_CDH583-EL6      = 'https://s3.amazonaws.com/splice-releases/2.6.1.1736/cluster/parcel/cdh5.8.3/SPLICEMACHINE-2.6.1.1736.cdh5.8.3.p0.74-el6.parcel' %}
{% assign splvar_install_v261_CDH583-EL7      = 'https://s3.amazonaws.com/splice-releases/2.6.1.1736/cluster/parcel/cdh5.8.3/SPLICEMACHINE-2.6.1.1736.cdh5.8.3.p0.74-el7.parcel' %}
{% assign splvar_install_v261_CDH583-PRECISE    = 'https://s3.amazonaws.com/splice-releases/2.6.1.1736/cluster/parcel/cdh5.8.3/SPLICEMACHINE-2.6.1.1736.cdh5.8.3.p0.74-precise.parcel' %}
{% assign splvar_install_v261_CDH583-SLES11   = 'https://s3.amazonaws.com/splice-releases/2.6.1.1736/cluster/parcel/cdh5.8.3/SPLICEMACHINE-2.6.1.1736.cdh5.8.3.p0.74-sles11.parcel' %}
{% assign splvar_install_v261_CDH583-TRUSTY   = 'https://s3.amazonaws.com/splice-releases/2.6.1.1736/cluster/parcel/cdh5.8.3/SPLICEMACHINE-2.6.1.1736.cdh5.8.3.p0.74-trusty.parcel' %}
{% assign splvar_install_v261_CDH583-WHEEZY   = 'https://s3.amazonaws.com/splice-releases/2.6.1.1736/cluster/parcel/cdh5.8.3/SPLICEMACHINE-2.6.1.1736.cdh5.8.3.p0.74-wheezy.parcel' %}
{% assign splvar_install_v261_MAPR520     = 'https://s3.amazonaws.com/splice-releases/2.6.1.1736/cluster/installer/mapr5.2.0/SPLICEMACHINE-2.6.1.1736.mapr5.2.0.p0.74.tar.gz' %}
{% assign splvar_install_v261_HDP255      = 'https://s3.amazonaws.com/splice-releases/2.6.1.1736/cluster/installer/hdp2.5.5/SPLICEMACHINE-2.6.1.1736.hdp2.5.5.p0.74.tar.gz' %}
{% assign splvar_install_v261_Standalone  = 'https://s3.amazonaws.com/splice-releases/2.6.1.1735/standalone/splicemachine-2.6.1.1735_standalone.tar.gz' %}

{% assign splvar_install_v250_CDH583-EL6      = 'https://s3.amazonaws.com/splice-releases/2.5.0.1735/cluster/parcel/cdh5.8.3/SPLICEMACHINE-2.5.0.1735.cdh5.8.3.p0.434-el6.parcel' %}
{% assign splvar_install_v250_CDH583-EL7      = 'https://s3.amazonaws.com/splice-releases/2.5.0.1735/cluster/parcel/cdh5.8.3/SPLICEMACHINE-2.5.0.1735.cdh5.8.3.p0.434-el7.parcel' %}
{% assign splvar_install_v250_CDH583-PRECISE  = 'https://s3.amazonaws.com/splice-releases/2.5.0.1735/cluster/parcel/cdh5.8.3/SPLICEMACHINE-2.5.0.1735.cdh5.8.3.p0.434-precise.parcel' %}
{% assign splvar_install_v250_CDH583-SLES11   = 'https://s3.amazonaws.com/splice-releases/2.5.0.1735/cluster/parcel/cdh5.8.3/SPLICEMACHINE-2.5.0.1735.cdh5.8.3.p0.434-sles11.parcel' %}
{% assign splvar_install_v250_CDH583-TRUSTY   = 'https://s3.amazonaws.com/splice-releases/2.5.0.1735/cluster/parcel/cdh5.8.3/SPLICEMACHINE-2.5.0.1735.cdh5.8.3.p0.434-trusty.parcel' %}
{% assign splvar_install_v250_CDH583-WHEEZY   = 'https://s3.amazonaws.com/splice-releases/2.5.0.1735/cluster/parcel/cdh5.8.3/SPLICEMACHINE-2.5.0.1735.cdh5.8.3.p0.434-wheezy.parcel' %}
{% assign splvar_install_v250_CDH580-EL6      = 'https://s3.amazonaws.com/splice-releases/2.5.0.1735/cluster/parcel/cdh5.8.0/SPLICEMACHINE-2.5.0.1735.cdh5.8.0.p0.434-el6.parcel' %}
{% assign splvar_install_v250_CDH580-EL7      = 'https://s3.amazonaws.com/splice-releases/2.5.0.1735/cluster/parcel/cdh5.8.0/SPLICEMACHINE-2.5.0.1735.cdh5.8.0.p0.434-el7.parcel' %}
{% assign splvar_install_v250_CDH580-PRECISE  = 'https://s3.amazonaws.com/splice-releases/2.5.0.1735/cluster/parcel/cdh5.8.0/SPLICEMACHINE-2.5.0.1735.cdh5.8.0.p0.434-precise.parcel' %}
{% assign splvar_install_v250_CDH580-SLES11   = 'https://s3.amazonaws.com/splice-releases/2.5.0.1735/cluster/parcel/cdh5.8.0/SPLICEMACHINE-2.5.0.1735.cdh5.8.0.p0.434-sles11.parcel' %}
{% assign splvar_install_v250_CDH580-TRUSTY   = 'https://s3.amazonaws.com/splice-releases/2.5.0.1735/cluster/parcel/cdh5.8.0/SPLICEMACHINE-2.5.0.1735.cdh5.8.0.p0.434-trusty.parcel' %}
{% assign splvar_install_v250_CDH580-WHEEZY   = 'https://s3.amazonaws.com/splice-releases/2.5.0.1735/cluster/parcel/cdh5.8.0/SPLICEMACHINE-2.5.0.1735.cdh5.8.0.p0.434-wheezy.parcel' %}
{% assign splvar_install_v250_MAPR520     = 'https://s3.amazonaws.com/splice-releases/2.5.0.1735/cluster/installer/mapr5.2.0/SPLICEMACHINE-2.5.0.1735.mapr5.2.0.p0.434.tar.gz' %}
{% assign splvar_install_v250_HDP255      = 'https://s3.amazonaws.com/splice-releases/2.5.0.1735/cluster/installer/hdp2.5.5/SPLICEMACHINE-2.5.0.1735.hdp2.5.5.p0.434.tar.gz' %}
{% assign splvar_install_v250_Standalone  = 'https://s3.amazonaws.com/splice-releases/2.5.0.1729/standalone/splicemachine-2.5.0.1729_standalone.tar.gz' %}
