{% assign splvar_location_GetStartedLink = 'https://www.splicemachine.com/get-started/' %}
{% assign splvar_location_CommunityLink  = 'https://www.splicemachine.com/get-started/cluster-download/' %}
{% assign splvar_location_DBaaSStartLink = 'https://www.splicemachine.com/get-started/' %}
{% assign splvar_location_OnPremStartLink= 'https://www.splicemachine.com/product/how-it-works/'}
{% assign splvar_location_StandaloneLink = 'https://www.splicemachine.com/get-started/download/' %}
{% assign splvar_location_EnterpriseInfoLink = 'https://www.splicemachine.com/product/pricing/' %}

{% assign splvar_location_StandaloneStartScript = './bin/start-splice.sh' %}
{% assign splvar_location_StandaloneStopScript = './bin/stop-splice.sh' %}
{% assign splvar_location_StandaloneCleanScript = './bin/clean.sh' %}

{% assign splvar_platform_JDBCDriverLoc260 = 'https://s3.amazonaws.com/splicemachine/artifacts/db-client-2.6.1.1736-SNAPSHOT.jar' %}
{% assign splvar_location_JDBCDriverJar260 = 'db-client-2.6.1.1736-SNAPSHOT.jar' %}
{% assign splvar_platform_JDBCDriverLoc250 = 'https://s3.amazonaws.com/splicemachine/artifacts/db-client-2.5.0.1736-SNAPSHOT.jar' %}
{% assign splvar_location_JDBCDriverJar250 = 'db-client-2.5.0.1729-SNAPSHOT.jar' %}

{% assign splvar_location_ODBCDriverLink = 'https://www.splicemachine.com/get-started/odbc-driver-download/' %}

{% assign splvar_location_SpliceMgmtConsoleUrl = 'http://localhost:4040' %}
