{% assign splvar_platform_v26_CDH5-Hadoop = '2.6.0' %}
{% assign splvar_platform_v26_CDH5-HBase = '1.0.0' %}
{% assign splvar_platform_v26_CDH5-OS = 'CentOS/RHEL 6' %}
{% assign splvar_platform_v26_CDH5-Zookeeper = '3.4.5' %}
{% assign splvar_platform_v26_HDP2-Hadoop = '2.7.1' %}
{% assign splvar_platform_v26_HDP2-HBase = '1.1.2' %}
{% assign splvar_platform_v26_HDP2-OS = 'CentOS/RHEL 6' %}
{% assign splvar_platform_v26_HDP2-Zookeeper = '3.4.5' %}
{% assign splvar_platform_v26_MapR5-Hadoop = '2.7.0' %}
{% assign splvar_platform_v26_MapR5-HBase = '1.1.1' %}
{% assign splvar_platform_v26_MapR5-OS = 'CentOS/RHEL 6' %}
{% assign splvar_platform_v26_MapR5-Zookeeper = '3.4.5' %}
{% assign splvar_platform_v25_MapR5-Versions = 'MapR 5.2.0' %}
{% assign splvar_platform_v25_CDH5-Versions  = 'CDH 5.8.3 and 5.8.0' %}
{% assign splvar_platform_v25_HDP2-Versions  = 'HDP 2.5.5' %}
{% assign splvar_platform_v26_MapR5-YarnDir = '/opt/mapr/hadoop/hadoop-2.7.0/share/hadoop/yarn/' %}
{% assign splvar_platform_v26_CDH5-AuthSettingsLoc = 'hbase-site.xml' %}
{% assign splvar_platform_v26_HDP2-AuthSettingsLoc = 'Select the Custom HBase Configs option from the HBase configuration tab.' %}
{% assign splvar_platform_v25_CDH5-Hadoop = '2.6.0' %}
{% assign splvar_platform_v25_CDH5-HBase = '1.0.0' %}
{% assign splvar_platform_v25_CDH5-OS = 'CentOS/RHEL 6' %}
{% assign splvar_platform_v25_CDH5-Zookeeper = '3.4.5' %}
{% assign splvar_platform_v25_HDP2-Hadoop = '2.7.1' %}
{% assign splvar_platform_v25_HDP2-HBase = '1.1.2' %}
{% assign splvar_platform_v25_HDP2-OS = 'CentOS/RHEL 6' %}
{% assign splvar_platform_v25_HDP2-Zookeeper = '3.4.5' %}
{% assign splvar_platform_v25_MapR5-Hadoop = '2.7.0' %}
{% assign splvar_platform_v25_MapR5-HBase = '1.1.1' %}
{% assign splvar_platform_v25_MapR5-OS = 'CentOS/RHEL 6' %}
{% assign splvar_platform_v25_MapR5-Zookeeper = '3.4.5' %}
{% assign splvar_platform_v25_MapR5-Versions = 'MapR 5.2.0' %}
{% assign splvar_platform_v25_CDH5-Versions  = 'CDH 5.8.3 and 5.8.0' %}
{% assign splvar_platform_v25_HDP2-Versions  = 'HDP 2.5.5' %}
{% assign splvar_platform_v25_MapR5-YarnDir = '/opt/mapr/hadoop/hadoop-2.7.0/share/hadoop/yarn/' %}
{% assign splvar_platform_v25_CDH5-AuthSettingsLoc = 'hbase-site.xml' %}
{% assign splvar_platform_v25_HDP2-AuthSettingsLoc = 'Select the Custom HBase Configs option from the HBase configuration tab.' %}
{% assign splvar_platform_MapR-AuthSettingsLoc = 'hbase-site.xml' %}
{% assign splvar_platform_MapR-DefaultReplication = '3' %}
