---
summary: A list of the topics in this documentation that apply only to our on-premise product; these topics do not apply to our database-as-a-service product.
title: Splice Machine On-Premise Database
keywords:
toc: false
product: all
sidebar:  onprem_sidebar
permalink: onprem_intro.html
folder: OnPrem
---
{% include splicevars.html %}
	<section>
		<div class="TopicContent">
			<h1>Welcome to the Splice Machine On-Premise Database!</h1>
			<p>Welcome to Splice Machine, the  database platform for adaptive applications that manage operational processes. This site contains documentation for our <span class="ConsoleLink">On-Premise Database</span>.</p>
			<div class="noteIcon">
				<p>If you're not yet familiar with our lineup of products, please visit the <a href="{{splvar_location_GetStartedLink}}" target="_blank">Getting Started Page</a> in our web site to learn more about them.</p>
				<p>You can <a href="{{splvar_location_StandaloneLink}}" target="_blank">Download the free standalone version</a> of our <span class="ItalicFont">On-Premise Database</span> product.</li>
				<p>You can also <a href="{{splvar_location_CommunityLink}}" target="_blank">Download the open source, Community version</a> of our <span class="ItalicFont">On-Premise cluster database</span> to install on your Hadoop cluster.</li>
				</p>
			</div>
			<p>Splice Machine is a hybrid relational database platform that allows you to run transactional (OLTP) and analytical (OLAP)&#160;SQL workloads, concurrently, against shared data. To ensure that one does not interfere with the other, Splice Machine uses resource isolation and a ground-breaking MVCC technology for concurrent, non-locking, distributed ACID transactions. </p>
			<p>With Splice Machine, you can manage operational processes, large-scale IoT infrastructures, and use analytical processing and machine learning to improve over time.</p>
			<p>Splice Machine delivers an open-source data platform that incorporates the proven scalability of HBase and the in-memory performance of Apache Spark. The cost-based optimizer uses advanced statistics to choose the best compute engine, storage engine, index access, join order and join algorithm for each task. In this way, Splice Machine can concurrently process transactional and analytical workloads at scale.</p>
			<h2>Using our Documentation</h2>
			<p>Please visit our <a href="notes_usingdocs.html">Documentation Summary</a> page for a quick introduction to navigating and using the components of our documentation system.</p>
			<h3>Version Information</h3>
			<p>This site contains the documentation for version 2.6 of Splice Machine, and also applies to our August 2017 2.5 patch release (v2.5.0.1729 and above).</p>
			<p>If you're using an earlier version, you'll find the documentation here:</p>
{% include splice_snippets/docversions_table.html %}
        </div>
	</section>
