
@mixin notes($color: $note-text-color,
             $weight: $note-text-weight,
             $margin: (20px 20px 20px 32px),
             $padding: (5px 10px 5px 10px),
             $radius: $border-note-radius,
             $maxWidth: 75%,
             $minHeight: 0,
             $beforeTxt: "",
             $border: $border-note,
             $bgImg: none,
             $bgColor: $bgcolor-note,
             $leaderColor: $note-leader-color )
{
    background-color: $bgColor;
    background-repeat: no-repeat;
    background-image: $bgImg;
    color:   $color;
    margin:  $margin;
    padding: $padding;
    font-weight: $weight;
    z-index: -1;
    border: $border;
    border-radius: $radius;
    max-width: $maxWidth;
    min-height: $minHeight;

    &:before {
        content: $beforeTxt;
        color: $leaderColor;
        font-weight: $note-leader-weight;
    }
}


@mixin pgfnotes($color: $note-text-color,
                $weight: $note-text-weight,
                $margin: (20px 20px 20px 32px),
                $padding: (5px 10px 5px 10px),
                $radius: $border-note-radius,
                $maxWidth: 75%,
                $minHeight: 0,
                $beforeTxt: "",
                $border: $border-note,
                $bgImg: none,
                $bgColor: $bgcolor-note,
                $leaderColor: $note-leader-color )
{
    background-color: $bgColor;
    background-repeat: no-repeat;
    background-image: $bgImg;
    color:   $color;
    margin:  $margin;
    padding: $padding;
    font-weight: $weight;
    z-index: -1;
    border: $border;
    border-radius: $radius;
    max-width: $maxWidth;
    min-height: $minHeight;

    &:before {
        content: $beforeTxt;
        color: $leaderColor;
        font-weight: $note-leader-weight;
    }
}

div.smallfont
{
    font-size: $smallfont-size;
}

div.centered
{
    margin-left: auto;
    margin-right: auto;
}

div.hiddenText
{
    visibility: hidden;
}

div.indented
{
    margin-left: 40px;
}

div.invisible
{
    display: none;
}

div.noteChange {
    @include notes($beforeTxt: "CHANGE ALERT: ");
}

p.noteChange {
    @include pgfnotes($beforeTxt: "CHANGE ALERT: ");
}

div.noteDBaaSOnly {
    @include notes($beforeTxt: "This is a DB-Service-Only topic!   ",
                   $margin: (15px auto 20px auto),
                   $maxWidth: 475px,
                   $bgColor: #fcf8f0,
                   $color: $bodyfont-color,
                   $leaderColor: $bodyfont-color,
                   $border: 2px solid #f39939 );
}

p.noteDBaaSOnly {
    @include pgfnotes($beforeTxt: "This is a DB-Service-Only topic!   ",
                      $margin: (15px auto 20px auto),
                      $maxWidth: 475px,
                      $bgColor: #fcf8f0,
                      $color: $bodyfont-color,
                      $leaderColor: $bodyfont-color,
                      $border: 2px solid #f39939 );
}

div.noteEnterprise {
  @include notes($bgImg: url('/images/SpliceNoteIcon.png'),
                 $minHeight: 48px,
                 $radius: 0,
                 $margin: (0 35px 15px 35px),
                 $padding: (5px 10px 5px 40px) );
}

p.noteEnterprise {
  @include pgfnotes($bgImg: url('/images/SpliceNoteIcon.png'),
                    $minHeight: 48px,
                    $radius: 0,
                    $margin: (0 35px 15px 35px),
                    $padding: (5px 10px 5px 40px) );
}

div.noteIcon {
  @include notes($bgImg: url('/images/SpliceNoteIcon.png'),
                 $minHeight: 48px,
                 $margin: (20px 60px 20px 60px),
                 $padding: (5px 10px 5px 48px) );
}

p.noteIcon {
  @include pgfnotes($bgImg: url('/images/SpliceNoteIcon.png'),
                    $minHeight: 48px,
                    $margin: (20px 60px 20px 60px),
                    $padding: (5px 10px 5px 48px) );
}

div.noteIndent {
  @include notes($beforeTxt: "NOTE:  ",
                 $margin:(20px 20px 20px 60px))
}

p.noteIndent {
  @include pgfnotes($beforeTxt: "NOTE:  ",
                    $margin:(20px 20px 20px 60px))
}

div.noteNote {
    @include notes($beforeTxt: "NOTE: ");
}

p.noteNote {
    @include pgfnotes($beforeTxt: "NOTE: ");
}

div.noteOnPremiseOnly {
    @include notes($beforeTxt: "This is an On-Premise-Only topic!   ",
                   $margin: (15px auto 20px auto),
                   $maxWidth: 475px,
                   $bgColor: #fcf8f0,
                   $color: $bodyfont-color,
                   $leaderColor: $bodyfont-color,
                   $border: 2px solid #f39939 );
}

p.noteOnPremiseOnly {
    @include pgfnotes($beforeTxt: "This is an On-Premise-Only topic!   ",
                      $margin: (15px auto 20px auto),
                      $maxWidth: 475px,
                      $bgColor: #fcf8f0,
                      $color: $bodyfont-color,
                      $leaderColor: $bodyfont-color,
                      $border: 2px solid #f39939 );
}

div.notePlain {
    @include notes;
}

p.notePlain {
    @include pgfnotes;
}

div.openSourceNote {
  @include notes($bgImg: url('/images/SpliceNoteIcon.png'),
                 $minHeight: 48px,
                 $margin: (25px auto 20px auto),
                 $padding: (5px 10px 5px 40px) );
}

p.openSourceNote {
  @include pgfnotes($bgImg: url('/images/SpliceNoteIcon.png'),
                    $minHeight: 48px,
                    $margin: (25px auto 20px auto),
                    $padding: (5px 10px 5px 40px) );
}

div.opsStepsList {
    width: auto;
    max-width: 95%;
    margin: 20px 20px 20px 20px;
    padding: 2px 4px 16px 4px;
    text-align: left;
    border: $border-opsSteps;
    border-radius: $border-opsSteps-radius;
    word-wrap: break-word;
    overflow: auto;

    blockquote {
        margin-top: 0;
        margin-left: 12px;
    }

    img.nestedTightSpacing {
        margin: 10px 20px 10px 40px;
    }

    li {
        margin-top: 12px;
    }

    p.indentLevel1
    {
        margin-top: 0;
        margin-left: 0;
        margin-bottom: 6px;
        font-weight: normal;
        word-wrap: break-word;
        overflow: auto;
    }
}

div.paramList
{
    margin: 18px 0 18px 32px;
    font-weight: normal;
}

div.paramListNested
{
    margin: 18px 0 18px 64px;
    font-weight: normal;
}

%div.preWrap
{
    width: auto;
    word-wrap: break-word;
    overflow: auto;
    font-family: $codefont-face;
    font-weight: $codefont-weight;
    font-style: normal;
    margin: 0 0 1em 0;
    padding: 0;
}

div.fcnWrapper
{
    @extend %div, .preWrap;
    max-width: 55%;
}

div.preWrapper
{
        @extend %div, .preWrap;
        max-width: 95%;            /* Used to be 60% */
}

div.preWrapperWide,
div.fcnWrapperWide
{
    @extend %div, .preWrap;
    max-width: 95%;
}

/* One other div, TocNav, is defined in the printnav file */


div.topicContent
{
}

div.videoEnvelope
{

}
