
    /*** From CustomStyles ***/
h2.userMapTitle {
    font-family: Arial;
}

h4.panel-title {
    padding-top: 0px;
    margin-top: 0px;
}

h3.codeExplanation {
    font-size:18px;
    font-style:normal;
    color: black;
    line-height: 24px;
}
