
.post-content img {
    margin: 12px 0px 3px 0px;
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
}

.post-content ol li, .post-content ul li {
    margin: 10px 0px;
}

.post-content a.fa-rss {
    color: orange;
}


.post-content .rssfeedLink {
    color: #248EC2;
}

.post-summary {
    margin-bottom:12px;
}

p.post-meta {font-size: 80%; color: #777;}


.post-content img.inline {
    margin:0px;
    margin-bottom:6px;
}

.post-meta {
    font-size: 14px;
    color: #828282;
}

.post-link {
    font-size: 22px;
}

.post-list p {
    margin: 10px 0px;
}

.post-content table th {
    vertical-align: top;
}

p.post-meta time {
    margin-right: 0px;
}

.entry-date{font-size:14px;font-size:0.875rem;line-height:1.71429;margin-bottom:0;text-transform:uppercase;}
