
        /*** From CustomStyles ***/

span.projectTitle {
    font-family: Helvetica;
    font-weight: bold;
}

span.myLabel {
    padding-left:10px;
    padding-right:10px;
}

span.tagTitle {font-weight: 500;}

span.otherProgrammingLanguages {
    font-style: normal;
}

span.muted {color: #666;}

span.red {
    color: red;
    font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
}

span.soft {
    color: #c0c0c0;
}

span.label.label-default {
    background-color: gray;
}

span.label.label-primary {
    background-color: #f0ad4e;
}


.testing {
    color: orange;
}

.preference {
    color: red;
}


.orange {
    color: orange;
}

.gi-2x{font-size: 2em;}
.gi-3x{font-size: 3em;}
.gi-4x{font-size: 4em;}
.gi-5x{font-size: 5em;}

.fa-6x{font-size:900%;}
.fa-7x{font-size:1100%;}
.fa-8x{font-size:1300%;}
.fa-9x{font-size:1500%;}
.fa-10x{font-size:1700%;}

