
        /*** ************************************************************* ***/
        /*** Table styles brought in from customstyles; not sure if needed ***/
        /*** ************************************************************* ***/

section table tr.success {
    background-color: #dff0d8 !important;
}

table.dataTable thead {
    background-color: #444;
}

table tr.info {
    background-color: #d9edf7 !important;
}

section table tr.warning, table tr.testing, table tr.testing > td.sorting_1  {
    background-color: #fcf8e3 !important;
}
section table tr.danger, table tr.preference, table tr.preference > td.sorting_1  {
    background-color: #f2dede !important;
}

table.profile thead tr th {
    background-color: #248ec2;
}

table.request thead tr th {
    background-color: #ED1951;
}

table th code {
    color: white;
}

table thead th code.highlighter-rouge {
    background-color: transparent;
}
