---
title: Configuring SSL/TLS Authentication
summary: How to configure SSL/TLS authentication for connecting to Splice Machine
search: exclude
keywords: SSL, TLS, Secure Socket Layer, Transport Layer Security, authentication, peer authentication
toc: false
search: exclude
product: all
sidebar: onprem_sidebar
permalink: onprem_install_configureTLS.html
folder: OnPrem/InstallingSpliceMachine
---
{% include splicevars.html %}
	<section>
		<div class="TopicContent">
            <h1>Configuring SSL/TLS Authentication</h1>
{% include splice_snippets/onpremonlytopic.html %}
            <p>This topic describes how to configure SSL/TLS on your cluster to support secure JDBC connections to your Splice Machine database.</p>
			<p>By default, JDBC connections to your database are not encrypted. You can configure SSL/TLS authentication for two different encryption modes:</p>
			<ul class="bullet">
				<li><span class="ItalicFont">Basic SSL/TLS Encryption</span> encrypts the data sent back and forth between a client and the server.</li>
				<li><span class="ItalicFont"><p>SSL/TLS Encryption with Peer Authentication</span> encrypts the data sent between client and server, and adds a layer of authentication known as peer authentication, which uses trusted certificates to authenticate the sender and/or receiver. <p>The term <span class="ItalicFont">peer</span> is used in this context to refer to the other side of a server-client communication: the client is the server's peer, and the server is the client's peer.You can set up peer authentication on a server, a client, or both.</p>
				</li>
			</ul>
			<p>The remainder of this topic shows you how to configure this authentication, in these sections:</p>
			<ul>
				<li><a href="#gencerts">Generating Certificates</a> walks you through generating the certificates.</li>
				<li><a href="#imports">Importing Certificates</a> describes how to import certificates to clients and servers.</li>
				<li><a href="#updates">Updating Configuration Options</a> shows you how to update your server's configuration options and then restart your server.</li>
				<li><a href="#reboots">Restarting your Server</a> describes how to restart the server so that your updated security options take effect.</li>
				<li><a href="#connects">Connecting Securely From a Client</a> walks you through connecting securely from various clients.</li>
			</ul>
			<div class="noteNote">We use <span class="HighlightedCode">highlighted text</span> in this section to display sample names that you should replace with your own names.</div>
			<h2 id="gencerts">Generating Certificates</h2>
			<p>This section shows you how to generate the required, trusted certificates on your server and client(s).</p>
			<div class="noteIcon">To configure your database for SSL/TLS authentication, you'll need to use the <span class="ItalicFont">keytool</span> application that is included with the JDK; this tool is documented here: <a href="http://docs.oracle.com/javase/8/docs/technotes/tools/unix/keytool.html">http://docs.oracle.com/javase/8/docs/technotes/tools/unix/keytool.html</a>.</div>
			<h3>Generate a Server Certificate</h3>
			<p>Use the <span class="ItalicFont">keytool</span> to generate a key-pair in the keystore. Here's an example of interacting with the keytool:</p>
			<div class="preWrap">
				<pre class="ShellCommand">% keytool -genkey -alias MyServerName -keystore ~/vault/ServerKeyStore
Enter keystore password: <span class="HighlightedCode">myPassword</span>
Re-enter new password: <span class="HighlightedCode">myPassword</span>
What is your first and last name?
   [Unknown]: <span class="HighlightedCode">John Doe</span>
What is the name of your organizational unit?
   [Unknown]: <span class="HighlightedCode">TechPubs</span>
What is the name of your organization?
   [Unknown]: <span class="HighlightedCode">MyCompany</span>
What is the name of your City or Locality?
   [Unknown]: <span class="HighlightedCode">San Francisco</span>
What is the name of your State or Province?
   [Unknown]: <span class="HighlightedCode">CA</span>
What is the two-letter country code for this unit?
   [Unknown]: <span class="HighlightedCode">US</span>
IS CN=John Doe, OU=TechPubs, O=MyCompany, L=San Francisco, ST=CA, C=US correct?
   [no]: <span class="HighlightedCode">yes</span>

Enter key password for &lt;MyServerName&gt;
	    (RETURN if same as keystore password): <span class="HighlightedCode">myPassword</span>
</pre>
			</div>
			<p>Now issue this <span class="ItalicFont">keytool</span> command to generate the certificate from the key you just created:</p>
			<div class="preWrap">
				<pre class="ShellCommand">% keytool -export -alias <span class="HighlightedCode">MyServerName</span> \
> -keystore <span class="HighlightedCode">~/value/ServerKeyStore</span> -rfc -file <span class="HighlightedCode">ServerCertificate</span> \
> -storepass <span class="HighlightedCode">myPassword</span>
Certificate stored in file &lt;ServerCertificate&gt;
% ls -ltr
total 8
-rw-rw-r-- 1 myName myGroup 1295 Aug 3 23:15 ServerKeyStore
-rw-rw-r-- 1 myName myGroup 1181 Aug 3 23:23 ServerCertificate
%</pre>
			</div>
			<h3>Generate Client Certificates</h3>
			<p>Now use the <span class="ItalicFont">keytool</span> to generate a client key-pair in the keystore; for example:</p>
			<div class="preWrap">
				<pre class="ShellCommand">% keytool -genkey -alias MyClientName -keystore ~/vault/ClientKeyStore</pre>
			</div>
			<p>Respond to the questions in the same way as you did when generting the server key-pair.</p>
			<p>And then generate the client certificate:</p>
			<div class="preWrap">
				<pre class="ShellCommand">% keytool -export -alias <span class="HighlightedCode">MyClientName</span> \
> -keystore <span class="HighlightedCode">~/value/ClientKeyStore</span> -rfc -file <span class="HighlightedCode">ClientCertificate</span> \
> -storepass <span class="HighlightedCode">myPassword</span>
Certificate stored in file &lt;ClientCertificate&gt;
% ls -ltr
total 8
-rw-rw-r-- 1 myName myGroup 1295 Aug 3 23:15 ClientKeyStore
-rw-rw-r-- 1 myName myGroup 1181 Aug 3 23:23 ClientCertificate
%</pre>
			</div>
			<h2 id="imports">Importing Certificates</h2>
			<p>After you've generated your certificates, it's time to:</p>
			<ul>
				<li><a href="#importserver">Import the server certificate to the client keystore.</a></li>
				<li><a href="#importclient">Import the client certificate to the server keystore.</a></li>
				<li><a href="#deploy">Secure and deploy the keystore and trust store.</a></li>
			</ul>
			<h3 id="importserver">Import Server Certificate to Client Keystore</h3>
			<p>You need to copy (<span class="CodeFont">scp</span>) the server certificate to the client, and then use a <span class="ItalicFont">keytool</span> command like this to import the certificate:</p>
			<div class="preWrap"><pre class="ShellCommand">
% keytool -import -alias <span class="HighlightedCode">favoriteServerCertificate</span> \
 -file <span class="HighlightedCode">ServerCertificate</span> -keystore <span class="HighlightedCode">~/vault/ClientTrustStore</span> \
 -storepass <span class="HighlightedCode">secretClientTrustStorePassword</span>
Owner: CN=John Doe, OU=TechPubs, O=MyCompany, L=San Francisco, ST=CA, C=US
Issuer: CN=John Doe, OU=TechPubs, O=MyCompany, L=San Francisco, ST=CA, C=US
Serial number: 24a2c7f7
Valid from: Thu Aug 03 23:15:52 UTC 2017 until: Wed Nov 01 23:15:52 UTC 2017
Certificate fingerprints:
	 MD5:  5B:86:E9:C9:DF:E1:34:41:C8:B0:55:DE:C6:34:8A:21
	 SHA1: 17:C8:43:FE:9C:FF:0C:4A:B2:51:36:0C:79:16:EB:73:24:C3:5A:83
	 SHA256: 8D:55:1A:10:37:39:21:14:8E:21:3A:10:78:A1:C7:25:5F:9C:A7:8D:4E:3F:87:40:A0:ED:70:BE:EC:0F:7A:D9
	 Signature algorithm name: SHA1withDSA
	 Version: 3

Extensions:

#1: ObjectId: 2.5.29.14 Criticality=false
SubjectKeyIdentifier [
KeyIdentifier [
0000: 8B 71 1E 04 E7 E4 84 E6   35 B3 6B EB B5 92 1A 35  .q......5.k....5
0010: 5E FD B1 40                                        ^..@
]
]</pre></div>
			<h3 id="importclient">Import Client Certificates to Server Keystore</h3>
			<p>Next, copy (<span class="CodeFont">scp</span>) the client certificate to the region server and use <span class="ItalicFont">keytool</span> to import the certificate:</p>
			<div class="preWrap"><pre class="ShellCommand">
% keytool -import -alias <span class="HighlightedCode">Client_1_Certificate</span> \
 -file <span class="HighlightedCode">ClientCertificate</span> -keystore <span class="HighlightedCode">~/vault/ServerTrustStore</span> \
 -storepass <span class="HighlightedCode">secretServerTrustStorePassword</span>
Owner: CN=John Doe, OU=TechPubs, O=MyCompany, L=San Francisco, ST=CA, C=US
Issuer: CN=John Doe, OU=TechPubs, O=MyCompany, L=San Francisco, ST=CA, C=US
Serial number: 7507d351
Valid from: Thu Aug 03 23:25:19 UTC 2017 until: Wed Nov 01 23:25:19 UTC 2017
Certificate fingerprints:
	 MD5:  19:46:4C:D5:6C:A5:40:AC:6C:F6:2C:DC:7B:86:C5:45
	 SHA1: BB:D7:9C:5E:5A:EB:E3:D1:F0:22:49:47:D4:C5:31:24:1E:06:0F:AE
	 SHA256: 88:8E:6E:97:ED:78:B1:AE:5E:65:09:30:C2:E8:AF:B3:DD:40:5A:7B:19:97:ED:04:E0:A3:82:66:E9:A4:3E:2A
	 Signature algorithm name: SHA1withDSA
	 Version: 3

Extensions:

#1: ObjectId: 2.5.29.14 Criticality=false
SubjectKeyIdentifier [
KeyIdentifier [
0000: 59 37 E4 92 34 0A A2 45   93 E6 45 3A AF 57 77 E8  Y7..4..E..E:.Ww.
0010: E6 B9 24 08                                        ..$.
]
]

Trust this certificate? [no]:  yes
Certificate was added to keystore
%</pre></div>
			<h3 id="deploy">Secure and Deploy the Keystore and Trust Store</h3>
			<p>Once you've imported your certificates, you should copy the <span class="CodeFont">vault</span> directory to a location that is directly accessible from HBase. We recommend copying it to a directory such as <span class="CodeFont">/etc/vault</span> or <span class="CodeFont">/hbase/vault</span>.</p>
			<div class="noteIcon">You <span class="BoldFont">MUST</span> deploy the vault directory to the same location on each region server, so that all region servers can access it during server startup.</div>
			<h2 id="updates">Updating Configuration Options</h2>
			<p>Now that you've got your certificates all set up, you need to modify a few configuration options and restart the server to take your new security options live. On a CDH cluster, you need to update the region server Java options, which you'll find in the Admin console:</p>
			<div class="preWrap"><pre class="Plain">CDH->HBase->Configuration->Java Configuration Options for HBase Region Server</pre></div>
			<ul>
				<li><p>If you're using basic SSL/TLS (without peer authentication), add this property:</p>
					<div class="preWrap"><pre class="Plain">-Dderby.drda.sslMode=basic</pre></div>
				</li>
				<li><p>If you're using full SSL/TLS (with peer authentication), add these properties:</p>
					<div class="preWrap"><pre class="Plain">-Dderby.drda.sslMode=peerAuthentication
-Djavax.net.ssl.keyStore=<span class="HighlightedCode">/tmp/vault/ServerKeyStore</span>
-Djavax.net.ssl.keyStorePassword=<span class="HighlightedCode">myPassword</span>
-Djavax.net.ssl.trustStore=<span class="HighlightedCode">/tmp/vault/ServerTrustStore</span>
-Djavax.net.ssl.trustStorePassword=<span class="HighlightedCode">secretServerTrustStorePassword</span></pre></div>
				</li>
			</ul>
			<h2 id="reboots">Rebooting Your Cluster</h2>
			<p>Once you've updated your configuration, restart HBase to make the changes effective in your cluster. After HBase restart, you can verify that the server started in secure mode by examining the logs: If you look at /var/log/hbase/splice.log, you should see a message similar to this:</p>
			<div class="preWrap"><pre class="Example">Mon AUG 28 04:52:03 UTC 2017 : Splice Machine Network Server - 10.9.2.2 - (1) started and ready to accept SSL connections on port 1527</pre></div>
			<h2>Connecting Securely From a Client</h2>
			<p>You can now connect securely to your database. This section provides several examples:</p>
			<ul>
				<li><a href="#cmdline">Running the splice&gt; Command Line Securely</a></li>
				<li><a href="#jdbcapp">Running a JDBC Client App Securely</a></li>
				<li><a href="#newnode">Adding New Client Nodes</a></li>
				<li><a href="#zep">Connecting Securely From a Third Party Client</a></li>
			</ul>
			<h3 id="cmdline">Running the <span class="AppFont">splice&gt;</span> Command Line Securely</h3>
			<p>To run the splice&gt; command line securely, you need to export several <span class="CodeFont">env</span> variables before starting <span class="CodeFont">sqlshell</span>. You can then issue a <span class="CodeFont">connect</span> command that specifies the type of security, as shown below.</p>
			<p>First export the environmental variables that specify your key stores:</p>
			<div class="preWrap"><pre class="ShellCommand">export CLIENT_SSL_KEYSTORE=<span class="HighlightedCode">/home/splice/vault/ClientKeyStore</span>
export CLIENT_SSL_KEYSTOREPASSWD=<span class="HighlightedCode">myPassword</span>
export CLIENT_SSL_TRUSTSTORE=<span class="HighlightedCode">/home/splice/vault/ClientTrustStore</span>
export CLIENT_SSL_TRUSTSTOREPASSWD=<span class="HighlightedCode">secretClientTrustStorePassword</span></pre>
			</div>
			<p>Then, start the <span class="AppCommand">splice&gt;</span> command line:</p>
			<div class="preWrap"><pre class="ShellCommand">% ./sqlshell.sh</pre></div>
			<p>The <span class="CodeFont">sqlshell</span> command issues a default (no security) connection command. To connect securely, add an <span class="CodeFont">ssl=</span> option to the connect command. You use different <span class="CodeFont">connect</span> commands for each of the three security modes:</p>
			<table>
				<col />
				<col />
				<thead>
					<tr><th>Security Mode</th>
						<th>Connect Command</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>None</td>
						<td>
							<div class="preWrap"><pre class="ShellCommandCell">connect 'jdbc:splice://<span class="HighlightedCode">x.x.x.xxx</span>:1527/splicedb;user=splice;password=admin';</pre></div>
						</td>
					</tr>
					<tr>
						<td>Basic SSL</td>
						<td>
							<div class="preWrap"><pre class="ShellCommandCell">connect 'jdbc:splice://<span class="HighlightedCode">x.x.x.xxx</span>:1527/splicedb;user=splice;password=admin;ssl=basic';</pre></div>
						</td>
					</tr>
					<tr>
						<td>SSL w/Peer Authentication</td>
						<td>
							<div class="preWrap"><pre class="ShellCommandCell">connect 'jdbc:splice://<span class="HighlightedCode">x.x.x.xxx</span>:1527/splicedb;user=splice;password=admin;ssl=peerAuthentication';</pre></div>
						</td>
					</tr>
				</tbody>
			</table>
			<h3 id="jdbcapp">Running a JDBC Client App Securely</h3>
			<p>To use a secured connection with a JDBC client app, you need to specify a connection string that includes the <span class="CodeFont">ssl</span> option. If you don't specify this option, the default JDBC connection is unsecured, as shown in  the <span class="ItalicFont">Connect Command</span> table in the previous section.</p>
			<p>Here's a sample declaration for a peer authenticated connection to a Splice Machine database:</p>
			<div class="preWrap"><pre class="Example">String dbUrl = "jdbc:splice://1.2.3.456:1527/splicedb;user=splice;password=admin;ssl=peerAuthentication";</pre></div>
			<p>We can create a Java program that includes that declaration and then compile it into <span class="CodeFont">SampleJDBC.java</span> with a command like this:</p>
			<div class="preWrap"><pre class="Example">+ javac -classpath ".:./db-client-2.6.0.1729-SNAPSHOT.jar" ./SampleJDBC.java</pre></div>
			<p>We can then use a command like this to execute and JDBC app with the correct SSL keystore and truststore properties:</p>
			<div class="preWrap"><pre class="Example">% java -classpath .:./db-client-2.6.0.1729-SNAPSHOT.jar -Djavax.net.ssl.keyStore=/home/splice/vault/ClientKeyStore
			-Djavax.net.ssl.keyStorePassword=myPassword
			-Djavax.net.ssl.trustStore=/home/splice/vault/ClientTrustStore -Djavax.netDjavax.net.ssl.trustStore.ssl.trustStorePassword=secretClientTrustStorePassword SampleJDBC</pre></div>
			<h3 id="newnode">Adding New Client Nodes</h3>
			<p>Whenever you connect a new client node to a server, you need to perform a few steps to enable SSL/TLS on the new node:</p>
			<ul>
				<li><a href="#gencerts">Generate a new client certificate.</a></li>
				<li><a href="#imports">Import the new client certificate into the server's keystore.</a></li>
				<li><a href="#updates">Import the server certificate into the new client's keystore.</a></li>
				<li>Restart the server.</li>
			</ul>
			<p>Finally, you need to set these env variables:</p>
			<div class="preWrap"><pre class="ShellCommand">export CLIENT_SSL_KEYSTORE=<span class="HighlightedCode">/home/splice/vault/ClientKeyStore</span>
export CLIENT_SSL_KEYSTOREPASSWD=<span class="HighlightedCode">myPassword</span>
export CLIENT_SSL_TRUSTSTORE=<span class="HighlightedCode">/home/splice/vault/ClientTrustStore</span>
export CLIENT_SSL_TRUSTSTOREPASSWD=<span class="HighlightedCode">secretClientTrustStorePassword</span></pre></div>
			<h3 id="zep">Connecting Securely From a Third Party Client</h3>
			<p>This section describes what you need to do to connect securely to your Splice Machine from a third party client. We use Zeppelin as an example; other clients will have similar requirements. For Zeppelin, follow these steps</p>
			<ol>
				<li>Navigate to and edit the <span class="CodeFont">bin/interpreter.sh</span> file in the <span class="CodeFont">Zeppelin</span>  installation directory.</li>
				<li>Find the <span class="CodeBoldFont">JAVA_INTP_OPTS</span> property definition.</li>
				<li><p>Append the following SSL properties onto that definition:</p>
					<div class="preWrap"><pre class="Plain">JAVA_INTP_OPTS+=" -Dzeppelin.log.file=${ZEPPELIN_LOGFILE} \
-Djavax.net.ssl.keyStore=${CLIENT_SSL_KEYSTORE} \
-Djavax.net.ssl.keyStorePassword=${CLIENT_SSL_KEYSTOREPASSWD} \
-Djavax.net.ssl.trustStore=${CLIENT_SSL_TRUSTSTORE} \
-Djavax.netDjavax.net.ssl.trustStore.ssl.trustStorePassword=${CLIENT_SSL_TRUSTSTOREPASSWD} "</pre></div>
				</li>
				<li><p>Make sure that you have exported the SSL keystore and truststore env variables:</p>
					<div class="preWrap"><pre class="ShellCommand">export CLIENT_SSL_KEYSTORE=<span class="HighlightedCode">/home/splice/vault/ClientKeyStore</span>
export CLIENT_SSL_KEYSTOREPASSWD=<span class="HighlightedCode">myPassword</span>
export CLIENT_SSL_TRUSTSTORE=<span class="HighlightedCode">/home/splice/vault/ClientTrustStore</span>
export CLIENT_SSL_TRUSTSTOREPASSWD=<span class="HighlightedCode">secretClientTrustStorePassword</span></pre>
					</div>
				</li>
				<li><p>Restart Zeppelin:</p>
					<div class="preWrap"><pre class="ShellCommand">% zeppelin-daemon.sh start</pre></div>
				</li>
				<li><p>Create a new JDBC Interpreter</p>
					<p>Navigate to the <a href="http://localhost:8080/#/">Zeppelin interface URL:</a>, then click <span class="ConsoleLink">Interpreter->+Create</span> to create a new interpreter. The image below shows sample settings for the new interpreter:</p>
					<p>
			            <img src="images/NewZepInterpreter.png" />
					</p>
					<div class="noteIcon">Be sure to provide the correct JDBC driver loaction in the artifact dependencies section.</div>
				</li>
				<li>Save the new interpreter.</li>
				<li>Create a new Note with the new interpreter.</li>
            </ol>
        </div>
    </section>
