---
title: Splice Machine Requirements
summary: Summary of requirements for installing and running Splice Machine on your cluster or computer.
keywords: on-premise requirements, requirements, cores, memory, disk space, hadoop ecosystem, cluster, linux, centos, rhel 6, hadoop, hbase, zookeeper, java jdk, openjdk, macos, macintosh, ubuntu
toc: false
product: all
sidebar:  onprem_sidebar
permalink: onprem_info_requirements.html
folder: OnPrem/Info
---
	<section>
		<div class="TopicContent" data-swiftype-index="true" markdown="1">
            <h1 id="Splice">Splice Machine Requirements</h1>
{% include splice_snippets/onpremonlytopic.html %}
            <p>This topic summarizes the hardware and software requirements for Splice Machine running on a cluster or on a standalone computer.</p>
{% include splice_snippets/v2requirements.html %}
        </div>
	</section>
