            <table summary="Links to and descriptions of the section in the Splice Machine documentation suite.">
                <col  />
                <col  />
				<col  />
                <thead>
                    <tr >
						<th >Menu</th>
                        <th >Section</th>
                        <th >Description</th>
                    </tr>
                </thead>
                <tbody>
					<tr>
						<td rowspan=7>Splice Machine</td>
						<td><a href="index.html">Welcome</a></td>
						<td>Introduction to our main documentation, which contains the main sections that apply to all Splice Machine products.</td>
					</tr>
					<tr>
						<td><a href="tutorials_intro.html">Tutorials</a></td>
						<td>A collection of tutorials that walk you through numerous specific tasks to help you quickly learn how to use your Splice Machine database more productively.</td>
					</tr>
					<tr>
						<td><a href="sqlref_intro.html">SQL Reference Manual</a></td>
						<td>The reference manual for the Splice Machine implementation of SQL.</td>
					</tr>
					<tr>
						<td><a href="developers_intro.html">Developer's Manual</a></td>
						<td>Topics of interest to all developers working with Splice Machine.</td>
					</tr>
					<tr>
						<td><a href="dbconsole_intro.html">Database Console Guide</a></td>
						<td>An introduction to the Splice Machine Spark Database Console.</td>
					</tr>
					<tr>
						<td><a href="releasenotes_intro.html">Release Notes</a></td>
						<td>Release and update notes for Splice Machine products.</td>
					</tr>
					<tr>
						<td><a href="notes_intro.html">Other Notes</a></td>
						<td>A loose collection of useful topics, including our glossary and how to use this documentation.</td>
					</tr>
					<tr>
						<td rowspan=4>DB-Service Only</a></td>
						<td><a href="dbaas_intro.html">Welcome</a></td>
						<td>Introduction to our documentation sections that apply only to our cloud-managed database service product.</td>
					</tr>
					<tr>
						<td><a href="dbaas_cm_intro.html">Cloud Manager Guide</a></td>
						<td>A guide to our Cloud Manager, which is the Dashboard from which you create, manage, and use your clusters.</td>
					</tr>
					<tr>
						<td><a href="dbaas_zep_intro.html">Using Zeppelin</a></td>
						<td>A guide to using Zeppelin notebooks to work with your Splice Machine databases.</td>
					</tr>
					<tr>
						<td><a href="dbaas_info_release.html">Release Notes</a></td>
						<td>Release notes for our Database-as-Service product.</td>
					</tr>
					<tr>
						<td rowspan=5>On-Premise-DB Only</a></td>
						<td><a href="onprem_intro.html">Welcome</a></td>
						<td>Introduction to our documentation sections that apply only to our on-premise database product.</td>
					</tr>
					<tr>
						<td><a href="onprem_install_intro.html">Installation</a></td>
						<td>Step-by-step instructions for installing the on-premise version of Splice Machine on compatible platforms.</td>
					</tr>
					<tr>
						<td><a href="cmdlineref_intro.html">splice> Command Line Reference</a></td>
						<td>The reference manual for our on-premise Splice Machine command line interface.</td>
					</tr>
					<tr>
						<td><a href="onprem_admin_intro.html">Administrator's Guide</a></td>
						<td>Topics that describe the administrative tasks associated with configuring and maintaining your on-premise Splice Machine database.</td>
					</tr>
					<tr>
						<td><a href="onprem_info_release.html">Release Notes</a></td>
						<td>Release notes for our On-Premise-Db product.</td>
					</tr>
				</tbody>
			</table>
