            <table>
                <col />
                <col />
                <tbody>
                    <tr>
                        <td>Version 2.5</td>
                        <td><a href="https://doc.splicemachine.com/2.5/index.html">Release 2.5 Documentation</a> (Feb 2017)</td>
                    </tr>
                    <tr>
                        <td>Version 2.0</td>
                        <td><a href="https://doc.splicemachine.com/2.0/home.html">Release 2.0 Documentation</a> (Sep. 2016)</td>
                    </tr>
                    <tr>
                        <td>Version 1.5</td>
                        <td><a href="https://doc.splicemachine.com/1.5/home.html">Release 1.5 Documentation</a> (Jun. 2016)</td>
                    </tr>
                </tbody>
            </table>
