<div class="openSourceNoteWrapper">
	<div class="openSourceNote">
		<p>Enterprise version users can file a support ticket by sending an email to <a href="mailto:support@splicemachine.com" title="Email address for Enterprise version users to open a support ticket" alt="Email address for Enterprise version users to open a support ticket">support@splicemachine.com</a>; please include your company name and contact information.</p>
		<p>To obtain a license for the Splice&#160;Machine <span class="ItalicFont">Enterprise Edition</span>, <span class="noteEnterpriseNote">please <a href="http://www.splicemachine.com/company/contact-us/">Contact Splice Machine Sales</a> today.</span></p>
	</div>
