{% include splicevars.html %}
<div class="openSourceNoteWrapper">
	<div class="openSourceNote">
		<p>For access to the source code for the Community Edition of Splice Machine, visit <a href="{{splvar_basic_SpliceOpenSourceGit}}" target="_blank" title="Click to navigate to the Splice Machine Open Source GitHub repository (opens in new tab)" alt="Click to navigate to the Splice Machine Open Source GitHub repository (opens in new tab)">our open source GitHub repository.</a></p>
	</div>
</div>
