        <div>
            <p>Splice Machine uses the following Java date and time pattern letters to construct timestamps:</p>
            <table summary="Timestamp format pattern letter descriptions">
                <col />
                <col />
                <col style="width: 330px;" />
                <thead>
                    <tr>
                        <th>Pattern Letter</th>
                        <th>Description</th>
                        <th>Format(s)</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="CodeFont">y</td>
                        <td>year</td>
                        <td class="CodeFont">yy or yyyy</td>
                    </tr>
                    <tr>
                        <td class="CodeFont">M</td>
                        <td>month</td>
                        <td class="CodeFont">MM</td>
                    </tr>
                    <tr>
                        <td class="CodeFont">d</td>
                        <td>day in month</td>
                        <td class="CodeFont">dd</td>
                    </tr>
                    <tr>
                        <td class="CodeFont">h</td>
                        <td>hour (0-12)</td>
                        <td class="CodeFont">hh</td>
                    </tr>
                    <tr>
                        <td class="CodeFont">H</td>
                        <td>hour (0-23)</td>
                        <td class="CodeFont">HH</td>
                    </tr>
                    <tr>
                        <td class="CodeFont">m</td>
                        <td>minute in hour</td>
                        <td class="CodeFont">mm</td>
                    </tr>
                    <tr>
                        <td class="CodeFont">s</td>
                        <td>seconds</td>
                        <td class="CodeFont">ss</td>
                    </tr>
                    <tr>
                        <td class="CodeFont">S</td>
                        <td>tenths of seconds</td>
                        <td class="CodeFont">
                            <p>S, SS, SSS, SSSS, SSSSS or SSSSSS<span class="important">*</span></p>
                            <p><span class="important">*</span><span class="bodyFont">Specify </span>SSSSSS <span class="bodyFont">to allow a variable number (any number)&#160;of digits after the decimal point.</span></p>
                        </td>
                    </tr>
                    <tr>
                        <td class="CodeFont">z</td>
                        <td>time zone text</td>
                        <td class="CodeFont">e.g. Pacific Standard time</td>
                    </tr>
                    <tr>
                        <td class="CodeFont">Z</td>
                        <td>time zone, time offset</td>
                        <td class="CodeFont">e.g. -0800</td>
                    </tr>
                </tbody>
            </table>
            <p>The default timestamp format for Splice Machine imports is: <span class="CodeFont">yyyy-MM-dd HH:mm:ss</span>, which uses a 24-hour clock, does not allow for decimal digits of seconds, and does not allow for time zone specification. </p>
            <p class="noteNote" MadCap:autonum="NOTE: &#160;">The standard Java library does not support microsecond precision, so you <span class="BoldFont">cannot</span> specify millisecond (<span class="CodeFont">S</span>) values in a custom timestamp format and import such values with the desired precision. </p>
            <h3>Timestamps and Importing Data at Different Locations</h3>
            <p>Note that timestamp values are relative to the geographic location at which they are imported, or more specifically, relative to the timezone setting and daylight saving time status where the data is imported.</p>
            <p>This means that timestamp values from the same data file may appear differently after being imported in different timezones.</p>
            <h3>Examples</h3>
            <p>The following tables shows valid examples of timestamps and their corresponding format (parsing)&#160;patterns:</p>
            <table>
                <col />
                <col />
                <col />
                <thead>
                    <tr>
                        <th>Timestamp value</th>
                        <th>Format Pattern</th>
                        <th>Notes</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="CodeFont">2013-03-23 09:45:00</td>
                        <td class="CodeFont">yyyy-MM-dd HH:mm:ss</td>
                        <td>This is the default pattern.</td>
                    </tr>
                    <tr>
                        <td class="CodeFont">2013-03-23 19:45:00.98-05</td>
                        <td class="CodeFont">yyyy-MM-dd HH:mm:ss.SSZ</td>
                        <td>This pattern allows up to 2 decimal digits of seconds, and requires a time zone specification.</td>
                    </tr>
                    <tr>
                        <td class="CodeFont">2013-03-23 09:45:00-07</td>
                        <td class="CodeFont">yyyy-MM-dd HH:mm:ssZ</td>
                        <td>This patterns requires a time zone specification, but does not allow for decimal digits of seconds.</td>
                    </tr>
                    <tr>
                        <td class="CodeFont">2013-03-23 19:45:00.98-0530</td>
                        <td class="CodeFont">yyyy-MM-dd HH:mm:ss.SSZ</td>
                        <td>This pattern allows up to 2 decimal digits of seconds, and requires a time zone specification.</td>
                    </tr>
                    <tr>
                        <td class="CodeFont">
                            <p>2013-03-23 19:45:00.123</p>
                            <p>2013-03-23 19:45:00.12</p>
                        </td>
                        <td class="CodeFont">yyyy-MM-dd HH:mm:ss.SSS</td>
                        <td>
                            <p>This pattern allows up to 3 decimal digits of seconds, but does not allow a time zone specification.</p>
                            <p>Note that if your data specifies more than 3 decimal digits of seconds, an error occurs.</p>
                        </td>
                    </tr>
                    <tr>
                        <td class="CodeFont">2013-03-23 19:45:00.1298</td>
                        <td class="CodeFont">yyyy-MM-dd HH:mm:ss.SSSS</td>
                        <td>This pattern allows up to 4 decimal digits of seconds, but does not allow a time zone specification.</td>
                    </tr>
                </tbody>
            </table>
        </div>
