        <h2>Handling Generated Column Values in Imported Files</h2>
        <p>If you're importing data into a table with generated columns (see <span class="CodeFont"><a href="sqlref_statements_generatedcolspec.html">generated-column-spec</a></span> in the <span class="ItalicFont">SQL&#160;Reference Manual</span>), you should know that imported records are handled in exactly the same manner as are records inserted using the <span class="CodeFont"><a href="sqlref_statements_insert.html">INSERT</a></span>&#160;statement. </p>
        <p>Here's a simple summary of what happens for generated columns, including <span class="CodeFont">DEFAULT</span>&#160;values, in imported records:</p>
        <ul>
            <li>If your <span class="CodeFont">importColumnList</span> includes the column name and the imported column value is empty, <span class="CodeFont">NULL</span>&#160;is inserted into the database table column.</li>
            <li>If your <span class="CodeFont">importColumnList</span> includes the column name and the imported column value is not empty, the column value is imported unless the value is not valid in the table.</li>
            <li>If you <span class="CodeFont">importColumnList</span> does not include the column name, the generated value is inserted into the database table column.</li>
        </ul>
        <h3>Generated Column Import Examples</h3>
        <p>To illustrate what happens with generated column values in imported records, we'll use this simple database table created with this statement:</p><pre class="Example">CREATE&#160;TABLE&#160;myTable (<br />&#160;&#160;&#160;colA&#160;INT,<br />&#160;&#160;&#160;colB&#160;CHAR(4)&#160;DEFAULT&#160;'myDefaultVal',<br />&#160;&#160;&#160;colC&#160;INT);</pre>
        <table summary="Detailed example of what gets imported for different input values.">
            <col />
            <col />
            <col />
            <col />
            <thead>
                <tr>
                    <th><span class="CodeBoldFont">insertColumnList</span>
                    </th>
                    <th>Values in import record</th>
                    <th>Values inserted into database</th>
                    <th>Notes</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="CodeFont">"A,B,C"</td>
                    <td class="CodeFont">1,,2</td>
                    <td class="CodeFont">[1,NULL,2]</td>
                    <td>&#160;</td>
                </tr>
                <tr>
                    <td class="CodeFont">"A,B,C"</td>
                    <td class="CodeFont">3,de,4</td>
                    <td class="CodeFont">[3,de,4]</td>
                    <td>&#160;</td>
                </tr>
                <tr>
                    <td class="CodeFont">"A,B,C"</td>
                    <td class="CodeFont">1,2</td>
                    <td class="CodeFont">Error:&#160;column B&#160;wrong type</td>
                    <td>&#160;</td>
                </tr>
                <tr>
                    <td class="CodeFont">"A,B,C"</td>
                    <td class="CodeFont">1,DEFAULT,2</td>
                    <td class="CodeFont">[1,"DEFAULT",2]</td>
                    <td><span class="CodeFont">DEFAULT</span>&#160;is imported as a literal value</td>
                </tr>
                <tr>
                    <td class="CodeFont">Empty</td>
                    <td class="CodeFont">1,,2</td>
                    <td class="CodeFont">[1,"DEFAULT",2]</td>
                    <td>&#160;</td>
                </tr>
                <tr>
                    <td class="CodeFont">Empty</td>
                    <td class="CodeFont">3,de,4</td>
                    <td class="CodeFont">[3,de,4]</td>
                    <td>&#160;</td>
                </tr>
                <tr>
                    <td class="CodeFont">Empty</td>
                    <td class="CodeFont">1,2</td>
                    <td class="CodeFont">Error: column B&#160;wrong type</td>
                    <td>&#160;</td>
                </tr>
                <tr>
                    <td class="CodeFont">"A,C"</td>
                    <td class="CodeFont">1,2</td>
                    <td class="CodeFont">[1,myDefaultVal,2]</td>
                    <td>&#160;</td>
                </tr>
                <tr>
                    <td class="CodeFont">"A,C"</td>
                    <td class="CodeFont">3,4</td>
                    <td class="CodeFont">[3,myDefaultVal,4]</td>
                    <td>&#160;</td>
                </tr>
            </tbody>
        </table>
        <p> Note that the value <span class="CodeFont">DEFAULT</span> in the imported file <span class="BoldFont">is not interpreted</span> to mean that the default value should be applied to that column; instead:</p>
        <ul>
            <li>If the target column in your database has a string data type, such as <span class="CodeFont">CHAR</span> or <span class="CodeFont">VARCHAR</span>, the literal value <span class="CodeFont">"DEFAULT"</span>&#160;is inserted into your database..</li>
            <li>If the target column is not a string data type, an error will occur.</li>
        </ul>
        <h3>How to Use Generated Values for a Column in Some (but not all)&#160;Imported Records</h3>
        <p>If you are importing a file into a table with a generated column, and you want to import some records with actual values and apply generated values to other records, you need to split your import file into two files and import each:</p>
        <ul>
            <li>Import the file containing records with non-default values with the column name included in the <span class="CodeFont">insertColumnList</span>.</li>
            <li>Import the file  containing records with default values with the column name excluded from the <span class="CodeFont">insertColumnList</span>.</li>
        </ul>
        <p class="noteNote">When you export a table with generated columns to a file, the actual column values are exported, so importing that same file into a different database will accurately replicate the original table values.</p>
