{% include splicevars.html %}
            <div>
                <h2><a name="ClusterNodeRequirements"></a>Cluster Node Requirements</h2>
                <p>The following table summarizes the minimum requirements for the nodes in your cluster:</p>
                <table summary="Splice Machine cluster node hardware requirements">
                    <col />
                    <col />
                    <thead>
                        <tr>
                            <th>Component</th>
                            <th>Requirements</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><strong>Cores</strong></td>
                            <td>Splice Machine recommends that each node in your cluster have 8-12 hyper-threaded cores (16-32 hyper-threads) for optimum throughput and concurrency.</td>
                        </tr>
                        <tr>
                            <td><strong>Memory</strong></td>
                            <td>We recommend that each machine in your cluster have at least 64 GB&#160;of available memory.</td>
                        </tr>
                        <tr>
                            <td><strong>Disk Space</strong></td>
                            <td>
                                <p class="noSpaceAbove">Your root drive needs to have at least 100 GB&#160;of free space. </p>
                                <p>Splice Machine recommends separate data drives on each cluster node to maintain a separation between the operating system and your database data. You need capacity for a minimum of three times the size of the data you intend to load; the typical recommended configuration is 2 TB or more of attached storage per node.</p>
                                <p><strong>Your data disks should be set up with a single partition and formatted with an <code>ext4</code> file system.</strong>
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td><strong>Hadoop Ecosystem</strong></td>
                            <td>The table in the next section, Hadoop Ecosystem Requirements, summarizes the specific Hadoop component versions that we support in each of our product releases.</td>
                        </tr>
                        <tr>
                            <td><strong>Software Tools and System Settings</strong></td>
                            <td>The <em>Linux Configuration</em> topic in each section of our <em>Installation Guide</em> that pertains to your installation summarizes the software tools and system settings required for your cluster machines.</td>
                        </tr>
                    </tbody>
                </table>
                <h3>Amazon Web Services&#160;(AWS) Requirements</h3>
                <p>If you're running on AWS, your cluster must meet these minimum requirements:</p>
                <table summary="Splice Machine cluster node hardware requirements">
                    <col />
                    <col />
                    <thead>
                        <tr>
                            <th>Component</th>
                            <th>Requirements</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><strong>Minimum Cluster Size</strong></td>
                            <td>
                                <p>The minimum cluster size on AWS&#160;is <em>5 nodes</em>:</p>
                                <ul class="bullet">
                                    <li>1 master node</li>
                                    <li>4 worker nodes</li>
                                </ul>
                            </td>
                        </tr>
                        <tr>
                            <td><strong>Minimum Node Size</strong></td>
                            <td>Minimum recommended size of each node is <em>m4.4xlarge</em>.</td>
                        </tr>
                        <tr>
                            <td><strong>Disk Space</strong></td>
                            <td>
                                <p class="noSpaceAbove">Minimum recommended storage space:</p>
                                <ul class="bullet">
                                    <li><em>100GB</em>&#160;EBS&#160;root drive</li>
                                    <li>4 EBS&#160;data drives per node</li>
                                </ul>
                                <p>Note that the required number of data drives per node depends on your use case.</p>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <h3>Hadoop Ecosystem Requirements</h3>
                <p>The following table summarizes the required Hadoop ecosystem components for your platform:</p>
                <table summary="Splice Machine Hadoop ecosystem requirements">
                    <col />
                    <col />
                    <col />
                    <col />
                    <col />
                    <col />
                    <thead>
                        <tr>
                            <th>Splice Machine </th>
                            <th>Hadoop platform</th>
                            <th>Linux</th>
                            <th>Hadoop</th>
                            <th>HBase</th>
                            <th>ZooKeeper</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td rowspan="3"><strong>Release 2.6</strong>
                            </td>
                            <td>{{splvar_platform_v26_CDH5-Versions}}
                            </td>
                            <td>
                                <p class="noSpaceAbove">{{splvar_platform_v25_CDH5-OS}}
                                </p>
                            </td>
                            <td>{{splvar_platform_v26_CDH5-Hadoop}}
                            </td>
                            <td>{{splvar_platform_v26_CDH5-HBase}}
                            </td>
                            <td>{{splvar_platform_v26_CDH5-Zookeeper}}
                            </td>
                        </tr>
                        <tr>
                            <td>{{splvar_platform_v26_HDP2-Versions}}
                            </td>
                            <td>
                                <p class="noSpaceAbove">{{splvar_platform_v26_HDP2-OS}}
                                </p>
                            </td>
                            <td>{{splvar_platform_v26_HDP2-Hadoop}}
                            </td>
                            <td>{{splvar_platform_v26_HDP2-HBase}}
                            </td>
                            <td>{{splvar_platform_v26_HDP2-Zookeeper}}
                            </td>
                        </tr>
                        <tr>
                            <td>{{splvar_platform_v26_MapR5-Versions}}
                            </td>
                            <td>
                                <p class="noSpaceAbove">{{splvar_platform_v26_MapR5-OS}}
                                </p>
                            </td>
                            <td>{{splvar_platform_v26_MapR5-Hadoop}}
                            </td>
                            <td>{{splvar_platform_v26_MapR5-HBase}}
                            </td>
                            <td>{{splvar_platform_v26_MapR5-Zookeeper}}
                            </td>
                        </tr>
                        <tr>
                            <td colspan="6" class="Separator">&#160;</td>
                        </tr>

                        <tr>
                            <td rowspan="3"><strong>Release 2.5</strong>
                            </td>
                            <td>{{splvar_platform_v25_CDH5-Versions}}
                            </td>
                            <td>
                                <p class="noSpaceAbove">{{splvar_platform_v25_CDH5-OS}}
                                </p>
                            </td>
                            <td>{{splvar_platform_v25_CDH5-Hadoop}}
                            </td>
                            <td>{{splvar_platform_v25_CDH5-HBase}}
                            </td>
                            <td>{{splvar_platform_v25_CDH5-Zookeeper}}
                            </td>
                        </tr>
                        <tr>
                            <td>{{splvar_platform_v25_HDP2-Versions}}
                            </td>
                            <td>
                                <p class="noSpaceAbove">{{splvar_platform_v25_HDP2-OS}}
                                </p>
                            </td>
                            <td>{{splvar_platform_v25_HDP2-Hadoop}}
                            </td>
                            <td>{{splvar_platform_v25_HDP2-HBase}}
                            </td>
                            <td>{{splvar_platform_v25_HDP2-Zookeeper}}
                            </td>
                        </tr>
                        <tr>
                            <td>{{splvar_platform_v25_MapR5-Versions}}
                            </td>
                            <td>
                                <p class="noSpaceAbove">{{splvar_platform_v25_MapR5-OS}}
                                </p>
                            </td>
                            <td>{{splvar_platform_v25_MapR5-Hadoop}}
                            </td>
                            <td>{{splvar_platform_v25_MapR5-HBase}}
                            </td>
                            <td>{{splvar_platform_v25_MapR5-Zookeeper}}
                            </td>
                        </tr>
                    </tbody>
                </table>
                <h3>Java JDK&#160;Requirements</h3>
                <p>Splice Machine supports the following versions of the Java JDK:</p>
                <ul>
                    <li>
                        <p>Oracle JDK&#160;1.8, update 60 or higher</p>
                        <p class="noteNote">We recommend that you do not use JDK&#160;1.8.0_40</p>
                    </li>
                </ul>
                <p>Splice Machine does not test our releases with OpenJDK, so we recommend against using it.</p>
                <h2 id="Standalo">Standalone Version Prerequisites</h2>
                <p>You can use the standalone version of Splice Machine on MacOS and Linux computers that meet these basic requirements:</p>
                <table summary="Standalone version requirements for running Splice Machine">
                    <col />
                    <col />
                    <thead>
                        <tr>
                            <th>Component</th>
                            <th>Requirements</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><strong>Operating System</strong>
                            </td>
                            <td>
                                <p class="noSpaceAbove">Mac OS X, version 10.8 or later.</p>
                                <p>CentOS&#160;6.4 or equivalent.</p>
                            </td>
                        </tr>
                        <tr>
                            <td><strong>CPU</strong>
                            </td>
                            <td>Splice Machine recommends 2 or more multiple-core CPUs.</td>
                        </tr>
                        <tr>
                            <td><strong>Memory</strong>
                            </td>
                            <td>At least 16 GB&#160;RAM, of which at least 10 GB is available.</td>
                        </tr>
                        <tr>
                            <td><strong>Disk Space</strong>
                            </td>
                            <td>At least 100 GB&#160;of disk space available for Splice Machine software, plus as much space as will be required for your data; for example, if you have a 1 TB dataset, you need at least 1 TB of available data space.</td>
                        </tr>
                        <tr>
                            <td><strong>Software</strong>
                            </td>
                            <td>
                                <p class="noSpaceAbove">You must have JDK&#160;installed on your computer.</p>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
