
img
{
	border: none;
	width: auto;
	height: auto;
	margin: 20px 20px 20px 0;
}

img.indentedTightSpacing
{
	width: auto;
	max-width: 98%;
	height: auto;
	margin: 0px 20px 0px 40px;
}

img.nestedTightSpacing
{
	width: auto;
	max-width: 85%;
	height: auto;
	margin: 0px 20px 0px 20px;
}

img.tableCell450
{
	width: auto;
	max-width: 450px;
	height: auto;
	margin: 0px 20px 0px 40px;
}

