
img
{
	border: none;
	width: auto;
	height: auto;
	margin: 20px 20px 20px 0;
}

img.bordered
{
	border: 1px solid $bodyfont-color;
	width: auto;
	height: auto;
	margin: 10px;
	padding: 4px;
}

img.indentedTightSpacing
{
	width: auto;
	max-width: 65%;
	height: auto;
	margin: 0px 20px 0px 40px;
}

img.nestedTightSpacing
{
	width: auto;
	max-width: 85%;
	height: auto;
	margin: 0px 20px 0px 20px;
}

img.tableCell450
{
	width: auto;
	max-width: 450px;
	height: auto;
	margin: 0px 20px 0px 40px;
}

img.icon36
{
    width: 36px;
    height: auto;
    margin: 0 0 0 0 ;
}

img.icon72
{
    width: 72px;
    height: auto;
    margin: 0 0 0 0;
}

img.zepinline {
	margin: 0;
	display: inline;
	width: 20px;
	height: 15px;
}

img.zepfithalfwidth {
	margin: 20px 20px 20px 20px;
	max-width: 50%;
}
