---
layout: default
---

{% if page.simple_map == true %}

<script>
    $(document).ready ( function(){
        $('.box{{page.box_number}}').addClass('active');
    });
</script>

{% include custom/{{page.map_name}}.html %}

{% elsif page.complex_map == true %}

<script>
    $(document).ready ( function(){
        $('.modalButton{{page.box_number}}').addClass('active');
    });
</script>

{% include custom/{{page.map_name}}.html %}

{% endif %}

<div class="post-content">

<!--- Don't automatically put page summary at top - GRH 05/2017:
   {% if page.summary %}
    <div class="summary">{{page.summary}}</div>
   {% endif %}
-->

    {% unless page.toc == false %}
    {% include toc.html %}
    {% endunless %}


    {% if site.github_editme_path %}

    <a href="https://github.com/{{site.github_editme_path}}{% unless page.url contains "index.html" %}pages/{% endunless %}{{page.folder}}{{page.url | remove: ".html" | append: ".md"}}" class="btn btn-default githubEditButton" role="button"><i class="fa fa-github fa-lg"></i> Edit me</a>

    {% endif %}

  {{content}}

    <div class="PageNavigation">
{% assign pagenavs = site.data.pagenextprev_nav.pagenavs %}
{% assign navId = pagenavs | size %}
{% assign navlim = navId | minus: 1 %}
{% for nav in pagenavs %}         {%comment%} Find the pagenav entry for this page {%endcomment%}
    {% if nav.url == page.permalink %}
        {% assign navId  = nav.id %}
        {% assign upurl  = nav.uplink %}
        {% break %}
    {% endif %}
{% endfor %}
{% for nav in pagenavs %}         {%comment%} Get the ID of the page's uplink url {%endcomment%}
    {% if nav.url == upurl %}
        {% assign uplinkId  = nav.id %}
        {% break %}
    {% endif %}
{% endfor %}
{% assign nextId = navId | plus: 1 %}
{% assign prevId = navId | minus: 1 %}
{% assign navtype     = pagenavs[navId].type  %}
{% assign nextnavtype = pagenavs[nextId].type %}
{% assign prevnavtype = pagenavs[prevId].type %}
{% assign nextIsUplink= false %}
{% assign prevIsUplink= false %}
<p>navId={{navId}}, nextId={{nextId}}, uplinkId={{uplinkId}}</p>
{%comment%} Figure our the next and prev pages in the nav; capture the ID of each  {%endcomment%}
{% if navtype == 'folder' %}
    {% assign nextPageId = nextId %}
    {% assign prevPageId = prevId %}
{% elsif navtype == 'subfolder' %}
    {% if nexnavtype == 'subitem' %}
            {% assign nextPageId = nextId %}
    {% else %}
        {% assign nextPageId = uplinkId %}
        {% assign nextIsUplink = true %}
    {% endif %}
    {% assign prevPageId = uplinkId %}
    {% assign prevIsUplink = true %}
{% else %}              {%comment%} Either an 'item' or a 'subitem' {%endcomment%}
    {% if nextnavtype == navtype %}
        {% assign nextPageId = nextId %}
    {% else %}
        {% assign nextPageId = uplinkId %}
<p>JUST SET nextPageId = upLinkId: {{uplinkId}}</p>
        {% assign nextIsUplink = true %}
    {% endif %}
    {% if prevnavtype == navtype %}
        {% assign prevPageId = prevId %}
    {% else %}
        {% assign prevPageId = uplinkId %}
        {% assign prevIsUplink = true %}
    {% endif %}
{% endif %}
<p>nextPageId={{nextPageId}}<br />&nbsp;&nbsp;&nbsp;{{pagenavs[nextPageId]}}</p>
{% assign nextUrl   = pagenavs[nextPageId].url %}
{% assign nextTitle = pagenavs[nextPageId].title %}
{% assign prevUrl   = pagenavs[prevPageId].url %}
{% assign prevTitle = pagenavs[prevPageId].title %}
{% if prevIsUplink == true %}
    {% assign prevChar = '&uarr;' %}
{% else %}
    {% assign prevChar = '&laquo;' %}
{% endif %}
{% if nextIsUplink == true %}
    {% assign nextChar = '&uarr;' %}
{% else %}
    {% assign nextChar = '&raquo;' %}
{% endif %}
<table class="pageNav"><col width="50%" /><col width="50%" /><tbody><tr><td class="PageLinkPrev"><a href="{{prevUrl}}">{{prevChar}}&nbsp;{{prevTitle}}</a></td><td class="PageLinkNext"><a href="{{nextUrl}}">{{nextTitle}}&nbsp;{{nextChar}}</a></td></tr></tbody></table>
    </div>

    <div class="tags">
        {% if page.tags[0] %}
        <b>Tags: </b>
        {% assign projectTags = site.data.tags.allowed-tags %}
        {% for tag in page.tags %}
        {% if projectTags contains tag %}
        <a href="{{ "tag_" | append: tag | append: ".html" }}" class="btn btn-default navbar-btn cursorNorm" role="button">{{page.tagName}}{{tag}}</a>
        {% endif %}
        {% endfor %}
        {% endif %}
    </div>

{% include disqus.html %}

</div>

{{site.data.alerts.hr_shaded}}

{% include footer.html %}
