---
layout: default
---

{% if page.simple_map == true %}

<script>
    $(document).ready ( function(){
        $('.box{{page.box_number}}').addClass('active');
    });
</script>

{% include custom/{{page.map_name}}.html %}

{% elsif page.complex_map == true %}

<script>
    $(document).ready ( function(){
        $('.modalButton{{page.box_number}}').addClass('active');
    });
</script>

{% include custom/{{page.map_name}}.html %}

{% endif %}

<div class="post-content">

<!--- Don't automatically put page summary at top - GRH 05/2017:
   {% if page.summary %}
    <div class="summary">{{page.summary}}</div>
   {% endif %}
-->

    {% unless page.toc == false %}
    {% include toc.html %}
    {% endunless %}


    {% if site.github_editme_path %}

    <a href="https://github.com/{{site.github_editme_path}}{% unless page.url contains "index.html" %}pages/{% endunless %}{{page.folder}}{{page.url | remove: ".html" | append: ".md"}}" class="btn btn-default githubEditButton" role="button"><i class="fa fa-github fa-lg"></i> Edit me</a>

    {% endif %}

  {{content}}

    <div class="PageNavigation">
{% assign pagenavs = site.data.pagenextprev_nav.pagenavs %}
{% assign thepage  = nil %}
{% for nav in pagenavs %}
    {% if nav.url == page.permalink %}
        {% assign thepage = nav %}
        {% break %}
    {% endif %}
{% endfor %}
{% if thepage.nextUplinkId %}
    {% assign nextLink = thepage.nextUplinkId %}
    {% assign nextChar = '&uarr;' %}
{% else %}
    {% assign nextLink = thepage.nextId %}
    {% assign nextChar = '&raquo;' %}
{% endif %}
{% if thepage.prevUplinkId %}
    {% assign prevLink = thepage.prevUplinkId %}
    {% assign prevChar = '&uarr;' %}
{% else %}
    {% assign prevLink = thepage.prevId %}
    {% assign prevChar = '&laquo;' %}
{% endif %}
{% for nav in pagenavs %}
    {% if nav.id == nextLink %}
        {% assign nextPage = nav %}
        {% break %}
    {% endif %}
{% endfor %}
{% for nav in pagenavs %}
    {% if nav.id == prevLink %}
        {% assign prevPage = nav %}
        {% break %}
    {% endif %}
{% endfor %}
{% comment %}
        <p>For nextLink={{nextLink}}, NEXTPAGE={{nextPage}}</p>
        <p>For prevLink={{prevLink}}, PREVPAGE={{prevPage}}</p>
{% endcomment %}
{% if prevPage.url == thepage.url %}
    {% if nextPage.url == thepage.url %}
            <table class="pageNav"><col width="50%" /><col width="50%" /><tbody><tr><td class="PageLinkPrev">&nbsp;</td><td class="PageLinkNext">&nbsp;</td></tr></tbody></table>
    {% else %}
            <table class="pageNav"><col width="50%" /><col width="50%" /><tbody><tr><td class="PageLinkPrev">&nbsp;</td><td class="PageLinkNext"><a href="{{nextPage.url}}">{{nextPage.title}}&nbsp;{{nextChar}}</a></td></tr></tbody></table>
    {% endif %}
{% elsif nextPage.url == thepage.url %}
            <table class="pageNav"><col width="50%" /><col width="50%" /><tbody><tr><td class="PageLinkPrev"><a href="{{prevPage.url}}">{{prevChar}}&nbsp;{{prevPage.title}}</a></td><td class="PageLinkNext">&nbsp;</td></tr></tbody></table>
{% else %}
            <table class="pageNav"><col width="50%" /><col width="50%" /><tbody><tr><td class="PageLinkPrev"><a href="{{prevPage.url}}">{{prevChar}}&nbsp;{{prevPage.title}}</a></td><td class="PageLinkNext"><a href="{{nextPage.url}}">{{nextPage.title}}&nbsp;{{nextChar}}</a></td></tr></tbody></table>
{% endif %}
    </div>

    <div class="tags">
        {% if page.tags[0] %}
        <b>Tags: </b>
        {% assign projectTags = site.data.tags.allowed-tags %}
        {% for tag in page.tags %}
        {% if projectTags contains tag %}
        <a href="{{ "tag_" | append: tag | append: ".html" }}" class="btn btn-default navbar-btn cursorNorm" role="button">{{page.tagName}}{{tag}}</a>
        {% endif %}
        {% endfor %}
        {% endif %}
    </div>

{% include disqus.html %}

</div>

{{site.data.alerts.hr_shaded}}

{% include footer.html %}
