---
layout: default
---

{% if page.simple_map == true %}

<script>
    $(document).ready ( function(){
        $('.box{{page.box_number}}').addClass('active');
    });
</script>

{% include custom/{{page.map_name}}.html %}

{% elsif page.complex_map == true %}

<script>
    $(document).ready ( function(){
        $('.modalButton{{page.box_number}}').addClass('active');
    });
</script>

{% include custom/{{page.map_name}}.html %}

{% endif %}

<div class="post-content">

<!--- Don't automatically put page summary at top - GRH 05/2017:
   {% if page.summary %}
    <div class="summary">{{page.summary}}</div>
   {% endif %}
-->

    {% unless page.toc == false %}
    {% include toc.html %}
    {% endunless %}


    {% if site.github_editme_path %}

    <a href="https://github.com/{{site.github_editme_path}}{% unless page.url contains "index.html" %}pages/{% endunless %}{{page.folder}}{{page.url | remove: ".html" | append: ".md"}}" class="btn btn-default githubEditButton" role="button"><i class="fa fa-github fa-lg"></i> Edit me</a>

    {% endif %}

  {{content}}

<!--
    <div class="PageNavigation">
        {% assign sidebar = site.data.sidebars[page.sidebar].entries %}
        {% assign navlinks = "" | split: ',' %}
        {% assign nonelink = 'none,none' %}
        {% assign folderlink = 'folder,index.html,Docs Home'  %}
        {% assign prevLink = nil %}
        {% for entry in sidebar %}
            {% for folder in entry.folders %}
                {% assign prevLink = folder.url %}
                {% assign folderlink = "folder," | append: folder.url | remove: '/' | append: ',' | append: folder.title %}
                {% assign navlinks = navlinks | push: folderlink %}
                {% for folderitem in folder.folderitems %}
                    {% if folderitem.url != prevlink %}
                        {% assign newlink  = folderitem.url | remove: '/' | append: ',' | append: folderitem.title %}
                        {% assign navlinks = navlinks | push: newlink %}
                    {% endif %}
                    {% for subfolders in folderitem.subfolders %}
                        {% assign navlinks = navlinks | push: nonelink %}
                        {% for subfolderitem in subfolders.subfolderitems %}
                            {% assign newlink  = subfolderitem.url | remove: '/'  | append: ',' | append: subfolderitem.title %}
                            {% assign navlinks = navlinks | push: newlink %}
                        {% endfor %}
                        {% assign navlinks = navlinks | push: nonelink %}
                    {% endfor %}
                {% endfor %}
            {% endfor %}
        {% endfor %}
        {% assign navlinks = navlinks | push: nonelink %}

        {% assign prev = 'none' %}
        {% assign prevname = 'none' %}
        {% assign prevUrl = 'none' %}
        {% assign prevTitle = 'none' %}
        {% assign nextUrl = 'none' %}
        {% assign nextTitle = 'none' %}
        {% assign found = false %}
        {% assign prevNavItem = 'none' %}
        {% for link in navlinks %}
            {% assign navitem = link | split: ',' %}
            {% if navitem != prevNavItem %}
                {% assign prevNavItem = navitem %}
                {% if navitem[0] == 'folder' %}
                    {% assign folderUrl = navitem[1] %}
                    {% assign folderTitle = navitem[2] %}
                {% else %}
                    {% if found %}
                        {% assign nextUrl = navitem[0] %}
                        {% assign nextTitle = navitem[1] %}
                        {% assign prevUrl = prev %}
                        {% break %}
                    {% elsif page.permalink == navitem[0] %}
                        {% assign found = true %}
                        {% assign prevUrl = prev %}
                        {% assign prevTitle = prevname %}
                        {% assign nextUrl = 'none' %}
                    {% else %}
                        {% assign prev = navitem[0] %}
                        {% assign prevname = navitem[1] %}
                    {% endif %}
                {% endif %}
            {% endif %}
        {% endfor %}

        {% if prevUrl != 'none' and nextUrl != 'none' %}
            <table class="noBorder" width="90%"><col width="50%" /><col width="50%" /><tbody><tr><td class="PageLinkPrev"><a href="{{prevUrl}}">&laquo;&nbsp;{{prevTitle}}</a></td><td class="PageLinkNext"><a href="{{nextUrl}}">{{nextTitle}}&nbsp;&raquo;</a></td></tr></tbody></table>
        {% elsif prevUrl == 'none' %}
            <table class="noBorder" width="90%"><col width="50%" /><col width="50%" /><tbody><tr><td class="PageLinkPrev"><a href="{{folderUrl}}">&uarr;&nbsp;{{folderTitle}}</a></td><td class="PageLinkNext"><a href="{{nextUrl}}">{{nextTitle}}&nbsp;&raquo;</a></td></tr></tbody></table>
        {% else %}
            <table class="noBorder" width="90%"><col width="50%" /><col width="50%" /><tbody><tr><td class="PageLinkPrev"><a href="{{prevUrl}}">&laquo;&nbsp;{{prevTitle}}</a></td><td class="PageLinkNext"><a href="{{folderUrl}}">{{folderTitle}}&nbsp;&uarr;</a></td></tr></tbody></table>
        {% endif %}
    </div>
-->

    <div class="tags">
        {% if page.tags[0] %}
        <b>Tags: </b>
        {% assign projectTags = site.data.tags.allowed-tags %}
        {% for tag in page.tags %}
        {% if projectTags contains tag %}
        <a href="{{ "tag_" | append: tag | append: ".html" }}" class="btn btn-default navbar-btn cursorNorm" role="button">{{page.tagName}}{{tag}}</a>
        {% endif %}
        {% endfor %}
        {% endif %}
    </div>

{% include disqus.html %}

</div>

{{site.data.alerts.hr_shaded}}

{% include footer.html %}
