
h1, h2, h3, h4, h5
{
	line-height: 110%;
	font-weight: 600;
	font-style: normal;
	margin: 2px, 0, 4px, 0;
	padding: 0;
}


h1
{
	font-size: 1.8em;
	margin-top: 0px;
	margin-bottom: 8px;
	padding-bottom: 10px;
	color: #f7a800;;
}

h2
{
	font-size: 1.6em;
	margin-top: 48px;
	color: #3390db;
}

h3
{
	font-size: 1.3em;
	line-height: 110%;
	margin-top: 30px;
	color: #127fd6;
}

h4
{
	font-size: 1.1em;
	font-style: italic;
	margin-top: 28px;
	color: #174e89;
}

h5
{
	font-size: 1.0em;
	line-height: 110%;
	margin-top: 24px;
	color: #606060;
}

blockquote
{
	margin-left: 40px;
	font-family: inherit;
	font-size: inherit;
	font-weight: inherit;
	color: inherit;
}

img {
	margin: 20px 0 20px 100px;
}

img.inline {
	margin: 0;
	display: inline;
	width: 20px;
}

table.splicezep,
table.splicezepNoBorder
{
	table-layout: auto;
	min-width: 25%;
	max-width: 90%;
	border: 1px solid #8d9090;
	border-collapse: collapse;
	border-radius: 12p;
	margin: 20px 120px 20px 40px;
	word-wrap: break-word;
	overflow: auto;
}

table.splicezepNoBorder
{
	border: none;
}

table.splicezep tr {

}

table.splicezepNoBorder tr {
	border: none;
	background-color: transparent;
}

table.splicezep td,
table.splicezep td.CodeFont,
table.splicezep td.BoldFont,
table.splicezep td.ItalicFont {
	border: 1px solid #8d9090;
	padding: 8px;
	text-align: left;
	vertical-align: top;
	word-wrap: break-word;
	overflow: auto;
}

table.splicezepNoBorder td,
table.splicezepNoBorder td.CodeFont,
table.splicezepNoBorder td.BoldFont,
table.splicezepNoBorder td.ItalicFont {
	border: none;
	padding: 8px;
	text-align: left;
	vertical-align: top;
	word-wrap: break-word;
	overflow: auto;
}

table.splicezep td.CodeFont,
table.splicezepNoBorder td.CodeFont
{
	font-family: "Courier";
}

table.splicezep td.ItalicFont,
table.splicezepNoBorder td.ItalicFont
{
	font-style: italic;
}

table.splicezep td.BoldFont,
table.splicezepNoBorder td.BoldFont
{
	font-weight: bold;
}

table.splicezep td p:first-child,
table.splicezepNoBorder td p:first-child
{
	margin-top: 0;
}

table.splicezep td > ul > li:first-of-type,
table.splicezep td > ol > li:first-of-type,
table.splicezepNoBorder td > ul > li:first-of-type,
table.splicezepNoBorder td > ol > li:first-of-type
{
	margin-top: 0;
}

table.splicezep th,
table.splicezepNoBorder th {
	border: 1px solid #8d9090;
	padding: 8px;
	text-align: left;
	vertical-align: top;
	word-wrap: break-word;
	overflow: auto;
	font-style: normal;
	font-weight: 600;
	background-color: #dcdcdc;
}

table.splicezepNoBorder th {
	border: none;
	background-color: transparent;
}

table.splicezep img,
table.splicezepNoBorder img
{
	border: none;
	width: auto;
	height: auto;
	margin: 0;
}

p.noteIcon {
	background-color: #F6F6F8;
	background-repeat: no-repeat;
	background-image: url("https://doc.splicemachine.com/zeppelin/images/zepNoteIcon.png");
	color: #4a4f54;
	margin: 20px 60px 20px 60px;
	padding: 5px 10px 5px 48px;
	font-weight: normal;
	z-index: -1;
	border: 2px solid #d6dbe0;
	border-radius: 12px;
	max-width: 75%;
	min-height: 48px;
}

p.noteIcon:before {
	content: "";
	color: #F39939;
	font-weight: 600;
}

p.noteNote {
	background-color: #F6F6F8;
	background-repeat: no-repeat;
	background-image: none;
	color: #4a4f54;
	margin: 20px 20px 20px 32px;
	padding: 5px 10px 5px 10px;
	font-weight: normal;
	z-index: -1;
	border: 2px solid #d6dbe0;
	border-radius: 12px;
	max-width: 75%;
	min-height: 0;
}
p.noteNote:before {
	content: "NOTE: ";
	color: #F39939;
	font-weight: 600;
}


div.noteIcon {
	background-color: #F6F6F8;
	background-repeat: no-repeat;
	background-image: url("https://doc.splicemachine.com/zeppelin/images/zepNoteIcon.png");
	color: #4a4f54;
	margin: 20px 60px 20px 60px;
	padding: 5px 10px 5px 48px;
	font-weight: normal;
	z-index: -1;
	border: 2px solid #d6dbe0;
	border-radius: 12px;
	max-width: 75%;
	min-height: 48px;
}
div.noteIcon:before {
	content: "";
	color: #F39939;
	font-weight: 600;
}


div.noteNote {
	background-color: #F6F6F8;
	background-repeat: no-repeat;
	background-image: none;
	color: #4a4f54;
	margin: 20px 20px 20px 32px;
	padding: 5px 10px 5px 10px;
	font-weight: normal;
	z-index: -1;
	border: 2px solid #d6dbe0;
	border-radius: 12px;
	max-width: 75%;
	min-height: 0;
}
div.noteNote:before {
	content: "NOTE: ";
	color: #F39939;
	font-weight: 600;
}

span.ConsoleLink {
	font-weight: 600;
	color: #3ba3d8;
	text-transform: none;
}

span.ConsoleLink a:link {
	color: #3390db;
}

}
